﻿@{
	ViewBag.Title = "CSS Examples";
}

<h2>@ViewBag.Title</h2>

<div id="left" class="equal-column">
	<p class="content">왼쪽</p>
</div>
<div id="right" class="equal-column">
	<p class="content">오른쪽</p>
</div>
<div class="something-below">
	<hr style="height:1px; " />
	<p class="content">아래</p>
</div>


<div id="textual-columns">
	<p class="content">column-count</p>
</div>


<ul>
	<li>@Html.ActionLink("Layer toggle", "Index", new { viewName = "1LayerToggle" }, null)</li>
	<li>@Html.ActionLink("Contents rotation", "Index", new { viewName = "2ContentsRotation" }, null)</li>
	<li>@Html.ActionLink("Animation", "Index", new { viewName = "9Animation" }, null)</li>
</ul>
