	*
{
	margin: 0px;
	padding: 0px;
}

body
{
	font-size: .85em;
	font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
	color: #232323;
	background-color: #fff;
}

header
{
	font-family: Helvetica;
	display: block;
	background-image: url("/Image/toolbar.png");
	width: 100%;
	height: 40px;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #2d3642;
	border-top: 1px solid #6d84a2;
	box-sizing: border-box;
}

header h1
{
	font-size: 20px;
}

h2
{
	font-family: Helvetica;
	font-size: 16px;
	text-align: center;
	margin: 10px;
}

footer, nav, section
{
	display: block;
	border-top: 1px solid #e0e0e0;
	padding: 10px;
}

section h1
{
	font-family: Helvetica;
	font-size: 16px;
}

section h2
{
	text-align: right;
	font-family: Helvetica;
	font-size: 14px;
}

section:hover
{
	background-color: #f0f0f0;
}

section article
{
	display: block;
	font-family: Helvetica;
	font-size: 12px;
	padding-left: 30px;
	background-image: url("/Image/listArrowSel.png");
	background-repeat: no-repeat;
	background-position: left;
}

section:hover article
{
	background-image: url("/Image/listArrowSel.png");
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend
{
	font-size: 1.2em;
	font-weight: bold;
}

textarea
{
	min-height: 75px;
}

.editor-label
{
	margin: 1em 0 0 0;
}

.editor-field
{
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
	color: #ff0000;
}

.field-validation-valid
{
	display: none;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid
{
	display: none;
}
