
/* Faced Tab Rotate Navigation */
button#prev_navi
{
	float: left;
	text-align:left;	 
	 position: relative;
}
button#next_navi
{
	float: right;
	text-align:right;
	 position: relative;
}
button.navi_button
{
	width: 14px;
	height: 27px;	 
	margin:0px;
	 padding: 0px;
}


div.tab.face
{
 width:100%;
 clear: both;
}

.tab.face
{
	padding: 0 0 35px 0;
	text-align: center;
}
.tab.face ul
{
	position: relative;
	margin: 0;
	padding: 0;
	_padding: 2px 0 0 0;
	list-style: none;
	border-bottom: 2px solid #315593; /* 1차 메뉴 아래 bar */
	font-family: Tahoma, "맑은 고딕" , 돋움, Sans-serif;
	font-size: 12px;
	text-align: center;
}
.tab.face ul:after
{
	content: "";
	display: block;
	clear: both;
}
.tab.face li
{
	float: left; /* 메뉴와 하위 메뉴 정렬 */
	margin-right: 1px;
	background: #4CB1E5;
}
.tab.face li a, .tab.face li a span
{
	position: relative;
	cursor: pointer;
}

/* 1차 하위 메뉴 */
.tab.face li a
{
	float: left;
	text-decoration: none;
}

/* 1차 메뉴 */
.tab.face li a span
{
	display: inline-block;
	padding: 6px 0px 6px 0px;
	color: #fff;
	width: 72px;		/* 1차 메뉴 고정폭 */
}

/* 1차 하위 메뉴 */
.tab.face li ul
{
	width: 100%;
	position: absolute;
	top: 40px; /* 하위 탭과의 거리 */
	left: 0;
	list-style: disk;
	border: 0;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
}
/*
.tab.face li ul
{
	width: 100%;
	position: absolute;
	top: 40px; /* 하위 탭과의 거리 *
	left: 0;
	list-style: none;
	border: 0;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
}
*/

.tab.face li ul:after
{
	content: "";
	display: block;
	clear: both;
}

.tab.face li li
{
	position: relative;
	left: -1px;
	padding: 0 10px;
	border-left: 1px solid #ddd;
	overflow: visible;
	background: transparent !important;
}

/* 1차 하위 메뉴 링크 */
.tab.face li li a
{
	padding: 0;
	margin: 0;
	font-weight: normal;
	color: #666;
}
.tab.face li.active
{
	background-color: #315593;
	margin-top: -1px;
}
.tab.face li.active a span
{
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: bold;
	letter-spacing: -1px;
}
.tab.face li li a:hover, .tab.face li li a:active, .tab.face li li a:focus, .tab.face li li.active a
{
	font-weight: bold;
	letter-spacing: -1px;
	color: #333;
}
.tab.face.jx
{
	padding: 0;
}
.tab.face.jx ul
{
	border: 0;
}
.tab.face.jx li
{
	float: none;
}
.tab.face.jx li a
{
	float: none;
	font-weight: bold;
}
.tab.face.jx li ul
{
	display: block;
	position: static;
	padding: 5px 0;
	left: 0;
	top: 0;
	background: #fff;
}
.tab.face.jx li li
{
	display: inline;
}
.tab.face.jx li li a
{
	font-weight: normal !important;
	color: #666;
	letter-spacing: normal;
}
.tab.face.jx li li a:hover, .tab.face.jx li li a:active, .tab.face.jx li li a:focus
{
	text-decoration: underline;
}


