/* Lined Tab Navigation */
.tab.line
{
	padding: 0 0 35px 0;
}
.tab.line ul
{
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #ccc;
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
}
.tab.line ul:after
{
	content: "";
	display: block;
	clear: both;
}
.tab.line li
{
	float: left;
	margin-bottom: -1px;
}
.tab.line li a
{
	position: relative;
	float: left;
	text-decoration: none;
	border: 1px solid #eee;
	border-bottom-color: #ccc;
	background: #fafafa;
	color: #333;
}
.tab.line li a span
{
	display: inline-block;
	height: 14px;
	padding: 6px 25px 6px 25px;
	letter-spacing: -1px;
	cursor: pointer;
}
.tab.line li ul
{
	width: 100%;
	position: absolute;
	top: 40px;
	left: 0;
	list-style: none;
	border: 0;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
}
.tab.line li ul:after
{
	content: "";
	display: block;
	clear: both;
}
.tab.line li li
{
	position: relative;
	left: -1px;
	padding: 0 10px;
	border-left: 1px solid #ddd;
	overflow: visible;
}
.tab.line li li a
{
	padding: 0;
	margin: 0;
	border: 0 !important;
	color: #666 !important;
	font-weight: normal;
	background: transparent;
	letter-spacing: normal;
}
.tab.line li.active a
{
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	margin-top: -1px;
	background: transparent;
}
.tab.line li.active a span
{
	padding-top: 7px;
	font-weight: bold;
}
.tab.line li li a:hover, .tab.line li li a:active, .tab.line li li a:focus, .tab.line li li.active a
{
	font-weight: bold;
	letter-spacing: -1px;
	color: #333 !important;
}
.tab.line.jx
{
	padding: 0;
}
.tab.line.jx ul
{
	border: 0;
}
.tab.line.jx li
{
	float: none;
}
.tab.line.jx li a
{
	float: none;
	display: block;
	font-weight: bold;
	color: #333;
	border: 1px solid #eee !important;
	border-bottom-color: #ccc !important;
	background: #fafafa !important;
}
.tab.line.jx li ul
{
	position: static;
	display: block;
	padding: 5px 0;
	left: 0;
	top: 0;
}
.tab.line.jx li li
{
	display: inline;
}
.tab.line.jx li li a
{
	display: inline;
	letter-spacing: normal;
	border: 0 !important;
	font-weight: normal !important;
	color: #666 !important;
	background: none !important;
}
.tab.line.jx li li a:hover, .tab.line.jx li li a:active, .tab.line.jx li li a:focus
{
	text-decoration: underline;
}



/* Faced Tab Navigation */
.tab.face
{
	padding: 0 0 35px 0;
}
.tab.face ul
{
	position: relative;
	margin: 0;
	padding: 0;
	_padding: 2px 0 0 0;
	list-style: none;
	border-bottom: 2px solid #315593;
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
}
.tab.face ul:after
{
	content: "";
	display: block;
	clear: both;
}
.tab.face li
{
	float: left;
	margin-right: 1px;
	background: #4CB1E5;
}
.tab.face li a, .tab.face li a span
{
	position: relative;
	cursor: pointer;
}
.tab.face li a
{
	float: left;
	text-decoration: none;
}
.tab.face li a span
{
	display: inline-block;
	padding: 6px 25px 6px 25px;
	color: #fff;
}
.tab.face li ul
{
	width: 100%;
	position: absolute;
	top: 40px;
	left: 0;
	list-style: none;
	border: 0;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
}
.tab.face li ul:after
{
	content: "";
	display: block;
	clear: both;
}
.tab.face li li
{
	position: relative;
	left: -1px;
	padding: 0 10px;
	border-left: 1px solid #ddd;
	overflow: visible;
	background: transparent !important;
}
.tab.face li li a
{
	padding: 0;
	margin: 0;
	font-weight: normal;
	color: #666;
}
.tab.face li.active
{
	background-color: #315593;
	margin-top: -1px;
}
.tab.face li.active a span
{
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: bold;
	letter-spacing: -1px;
}
.tab.face li li a:hover, .tab.face li li a:active, .tab.face li li a:focus, .tab.face li li.active a
{
	font-weight: bold;
	letter-spacing: -1px;
	color: #333;
}
.tab.face.jx
{
	padding: 0;
}
.tab.face.jx ul
{
	border: 0;
}
.tab.face.jx li
{
	float: none;
}
.tab.face.jx li a
{
	float: none;
	font-weight: bold;
}
.tab.face.jx li ul
{
	display: block;
	position: static;
	padding: 5px 0;
	left: 0;
	top: 0;
	background: #fff;
}
.tab.face.jx li li
{
	display: inline;
}
.tab.face.jx li li a
{
	font-weight: normal !important;
	color: #666;
	letter-spacing: normal;
}
.tab.face.jx li li a:hover, .tab.face.jx li li a:active, .tab.face.jx li li a:focus
{
	text-decoration: underline;
}



/* Tab + List */
.tab.list
{
	height: 160px;
}
.tab.list ul
{
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #ccc;
	font-family: Tahoma, Sans-serif;
	font-size: 12px;
}
.tab.list ul:after
{
	content: "";
	display: block;
	clear: both;
}
.tab.list li
{
	float: left;
	margin-bottom: -1px;
}
.tab.list li a
{
	position: relative;
	float: left;
	text-decoration: none;
	border: 1px solid #eee;
	border-bottom-color: #ccc;
	background: #fafafa;
	color: #666;
}
.tab.list li a span
{
	display: inline-block;
	padding: 6px 25px 6px 25px;
	letter-spacing: -1px;
	cursor: pointer;
}
.tab.list li ul
{
	width: 100%;
	position: absolute;
	top: 40px;
	left: 0;
	list-style: none;
	border: 0;
	margin: 0;
	padding: 0;
}
.tab.list li ul:after
{
	content: "";
	display: block;
	clear: both;
}
.tab.list li li
{
	float: none;
	position: relative;
	margin: 0 0 8px 0;
	color: #999;
}
.tab.list li li a
{
	float: none;
	padding: 0;
	margin: 0;
	border: 0 !important;
	color: #666 !important;
	font-weight: normal;
	background: transparent;
	letter-spacing: normal;
}
.tab.list li li a:hover, .tab.list li li a:active, .tab.list li li a:focus
{
	color: #000 !important;
	text-decoration: underline;
}
.tab.list li li time, .tab.list li li .time
{
	position: absolute;
	top: 0;
	right: 0;
	color: #767676;
}
.tab.list li li.more
{
	position: absolute;
	top: -30px;
	right: 0;
	border: 0 !important;
	background: transparent;
}
.tab.list li.active a
{
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	margin-top: -1px;
	background: transparent;
	color: #333;
}
.tab.list li.active a span
{
	padding-top: 7px;
	font-weight: bold;
}
.tab.list.jx
{
	height: auto;
}
.tab.list.jx ul
{
	border: 0;
}
.tab.list.jx li
{
	float: none;
	position: relative;
}
.tab.list.jx li a
{
	float: none;
	display: block;
	font-weight: bold;
	color: #333;
	border: 1px solid #eee !important;
	border-bottom-color: #ccc !important;
	background: #fafafa !important;
}
.tab.list.jx li ul
{
	position: static;
	display: block;
	left: 0;
	top: 0;
	padding: 5px 0;
}
.tab.list.jx li li a
{
	display: inline;
	border: 0 !important;
	background: none !important;
	font-weight: normal;
}
.tab.list.jx li li.more
{
	top: 7px;
	right: 15px;
}
