﻿@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.PayPalStandard.Models;
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
    <tr>
        <td colspan="2">
            <b>If you're using this gateway ensure that your primary store currency is supported
                by Paypal.</b>
            <br />
            <br />
            To use PDT, you must activate PDT and Auto Return in your PayPal account profile.
            You must also acquire a PDT identity token, which is used in all PDT communication
            you send to PayPal. Follow these steps to configure your account for PDT:
            <br />
            <br />
            1. Log in to your PayPal account.
            <br />
            2. Click the Profile subtab.
            <br />
            3. Click Website Payment Preferences in the Seller Preferences column.
            <br />
            4. Under Auto Return for Website Payments, click the On radio button.
            <br />
            5. For the Return URL, enter the URL on your site that will receive the transaction
            ID posted by PayPal after a customer payment (http://www.yourStore.com/Plugins/PaymentPayPalStandard/PDTHandler).
            <br />
            6. Under Payment Data Transfer, click the On radio button.
            <br />
            7. Click Save.
            <br />
            8. Click Website Payment Preferences in the Seller Preferences column.
            <br />
            9. Scroll down to the Payment Data Transfer section of the page to view your PDT
            identity token.
            
            
            <br />
            <br />
            Before being able to receive IPN messages (optional), you'll need to activate this service; follow these steps:
            <br />
            <br />
            1. Log in to your Premier or Business account.
            <br />
            2. Click the Profile subtab.
            <br />
            3. Click Instant Payment Notification in the Selling Preferences column.
            <br />
            4. Click the 'Edit IPN Settings' button to update your settings.
            <br />
            5. Select 'Receive IPN messages' (Enabled) and enter the URL of your IPN handler  (http://www.yourStore.com/Plugins/PaymentPayPalStandard/IPNHandler).
            <br />
            6. Click Save, and you should get a message that you have successfully activated IPN.
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%">
            <hr />
        </td>
    </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.UseSandbox):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.UseSandbox)
                @Html.ValidationMessageFor(model => model.UseSandbox)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.BusinessEmail):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.BusinessEmail)
                @Html.ValidationMessageFor(model => model.BusinessEmail)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PdtToken):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PdtToken)
                @Html.ValidationMessageFor(model => model.PdtToken)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PdtValidateOrderTotal):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PdtValidateOrderTotal)
                @Html.ValidationMessageFor(model => model.PdtValidateOrderTotal)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalFee):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PassProductNamesAndTotals):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PassProductNamesAndTotals)
                @Html.ValidationMessageFor(model => model.PassProductNamesAndTotals)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <button type="submit" name="save" value="save" class="t-button">
                    Save</button>
            </td>
        </tr>
    </table>
    
}