﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.PayPalStandard.Models.PaymentInfoModel
@using Nop.Web.Framework;

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>You will be redirected to PayPal site to complete the order.</b>
        </td>
    </tr>
</table>

