﻿@{
    Layout = "";
}
@model Nop.Plugin.DiscountRules.PurchasedOneProduct.Models.RequirementModel
@using Nop.Web.Framework;

    <script type="text/javascript">
        $(document).ready(function () {
            $('#savePurchasedOneProductrequirement@(Model.RequirementId)').click(function () {
                var variantIds = $("#@Html.FieldIdFor(model => model.ProductVariants)").val();
                var discountId = @Model.DiscountId;
                var requirementId = @Model.RequirementId;
                $.ajax({
                    cache:false,
                    type: "POST",
                    url: "@(Url.Action("Configure", "DiscountRulesPurchasedOneProduct"))",
                    data: "discountId=" + discountId +"&discountRequirementId=" + requirementId + "&variantIds=" + variantIds,
                    success: function (data) {
                         $('#pnl-save-requirement-result@(Model.RequirementId)').fadeIn("slow").delay(1000).fadeOut("slow");
                         //notify parent if it's a new requirement
                         @if (Model.RequirementId == 0)
                         {
                            <text>$("#discountRequirementContainer").trigger('nopnewdiscountruleadded', [data.NewRequirementId]);</text>
                         }
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert('Failed to save requirement.')
                    }  
                });
            });
        });
    </script>
    
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ProductVariants):
            </td>
            <td class="adminData">
                <div>@Html.EditorFor(model => model.ProductVariants) <button type="button" name="savePurchasedOneProductrequirement@(Model.RequirementId)" id="savePurchasedOneProductrequirement@(Model.RequirementId)" class="t-button">Save</button></div>
                <div id="pnl-save-requirement-result@(Model.RequirementId)" style="display:none;">@T("Plugins.DiscountRules.Saved")</div>
            </td>
        </tr>
    </table>