﻿@{
	ViewBag.Title = "홈 페이지";
}

<h2>@ViewBag.Message</h2>
<p>
	하나의 컨트롤러로 일반 웹에서 보여지는 내용입니다.<br />
	자세한 내용은 <a href="http://xyz37.blog.me/50121456753" target="_blank">제 블로그의 "ASP.NET MVC 3 MobileViewEngine 비교"</a>를 참고해주세요.
</p>
