﻿@model Nop.Web.Models.Customer.CustomerAddressEditModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@using Nop.Web.Framework;
@section left
{
    @Html.Partial("~/Views/Customer/MyAccountNavigation.cshtml", Model.NavigationModel, new ViewDataDictionary())
}

@using (Html.BeginForm())
{
    <div class="account-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.CustomerAddresses.Edit")</h1>
        </div>
        <div class="clear">
        </div>
        <div class="body">
            @{
                var dataDictAddress = new ViewDataDictionary();
                //Merge ModelState (required for validation)
                dataDictAddress.ModelState.Merge(ViewData.ModelState);
                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                @Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress)          
            }
            <table width="100%" cellspacing="0" cellpadding="2" border="0">
                <tbody>
                    <tr>
                        <td align="left">
                            <input type="submit" class="saveaddressbutton" value="@T("Common.Save")" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}