﻿@model Nop.Web.Models.Customer.PasswordRecoveryModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <strong>
                @Model.Result
            </strong>
        }
    </div>
</div>
<div class="body">
    @using (Html.BeginForm())
    {
        <table width="100%">
            <tr>
                <td style="text-align: left; vertical-align: middle;">
                    @Html.LabelFor(model => model.Email):
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Email, new { style = "Width: 250px;" })
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td style="text-align: left; vertical-align: middle;">
                    <input type="submit" id="send-email" name="send-email" class="passwordrecoverybutton" value="@T("Account.PasswordRecovery.RecoverButton")" />
                </td>
            </tr>
        </table>
    }
</div>
</div> 