﻿@model Nop.Web.Models.Customer.PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Framework;
<div class="password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <strong>
                @Model.Result
            </strong>
        }
    </div>
    @if (!Model.SuccessfullyChanged)
    {
        <div class="body">
            @using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <td style="text-align: left; vertical-align: middle;">
                            @Html.LabelFor(model => model.NewPassword):
                        </td>
                        <td>
                            @Html.EditorFor(model => model.NewPassword)
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; vertical-align: middle;">
                            @Html.LabelFor(model => model.ConfirmNewPassword):
                        </td>
                        <td>
                            @Html.EditorFor(model => model.ConfirmNewPassword)
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td style="text-align: left; vertical-align: middle;">
                            <input type="submit" id="set-password" name="set-password" class="newpasswordbutton" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    }
</div>
