﻿@model Telerik.Web.Mvc.GridModel<SmsProviderModel>
@using Telerik.Web.Mvc.UI

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
        @T("Admin.Configuration.SMSProviders")
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<SmsProviderModel>()
                    .Name("smsproviders-grid")
                    .DataKeys(x =>
                    {
                        x.Add(y => y.SystemName).RouteKey("systemName");
                    })
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.FriendlyName).Width(250).ReadOnly();
                        columns.Template(
                                @<div>
                                    @Html.ActionLink(T("Admin.Configuration.SMSProviders.Configure").Text, "ConfigureProvider", new { systemName = @item.SystemName })
                                </div>
                            )
                            .ClientTemplate("<a href=\"ConfigureProvider?systemName=<#= SystemName #>\">" + T("Admin.Configuration.SMSProviders.Configure").Text + "</a>")
                            .Width(100)
                            .Centered()
                            .Title(T("Admin.Configuration.SMSProviders.Configure").Text);
                        columns.Bound(x => x.SystemName).Width(250).ReadOnly();
                        columns.Bound(x => x.IsActive).Width(100);
                        columns.Command(commands =>
                        {
                            commands.Edit();
                        }).Width(100);
                    })
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Ajax().Select("Providers", "SMS")
                            .Update("ProviderUpdate", "SMS");
                    })
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
