﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>

</head>
<body>
	<div id="header">
		<h1>
			<a href="@Url.Content("~")">Home</a></h1>
		<ul id="navlist">
			<li class="first"><a href="@Url.Content("~")" id="current">Home</a></li>
			<li><a href="@Url.Content("~/Episode/")">Episodes</a></li>
			<li><a href="@Url.Content("~/MusicTrack/")">MusicTracks</a></li>
		</ul>
	</div>
	@RenderBody()
</body>
</html>
