﻿@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    This Mvc 3 site has been configured to use 51Degrees.mobi Foundation.
</p>
<br/>Some information about your device or browser:
<br/>Is a mobile device: @ViewBag.IsMobile
<br/>Is a tablet: @ViewBag.IsTablet
<br/>Brand Name: @ViewBag.BrandName
<br/>Model Name: @ViewBag.ModelName
<br/>Useragent: @ViewBag.Useragent
