﻿@{
	ViewBag.Title = "Index";

	var appName = ApplicationInstance.Application["customAppName"];
	
	PageData["color2"] = "Yellow";
	PageData["color3"] = "Green";
}

<h2>전역 또는 폴더 공통 모듈</h2>
<text>
	@Html.ActionLink("http://www.sqler.com/250347", "http://www.sqler.com/250347") 참고<br />
	전역 : _AppStart<br />
	폴더 : _ViewStart<br />
</text>

AppName : @appName<br />
AppState["customAppName"] : @AppState["customAppName"]
<hr />
Color1 : @PageData["color1"]<br />
Color2 : @PageData["color2"]<br />
Color3 : @PageData["color3"]<br />
Color4 : @PageData["color4"]<br />
<hr />
@Html.ActionLink("에러 발생", "RaiseException")<br />
<hr />
<h2>ASP.NET Quick API Reference</h2>

Href : <a href="@Href("~/Error.cshtml", "Tea")">Href</a><br />

Html.Raw : @Html.Raw("<div>Hello <em>world</em>!</div>")<br />

IsEmpty()<br />
@if (Request["customAppName"].IsEmpty() == true)
{
	@:customAppName is required.
}<br />

RenderPage : 
@RenderPage("~/Views/Shared/Error.cshtml", new
{
	source = HttpUtility.UrlEncode(Request.AppRelativeCurrentExecutionFilePath)
});<br />

Request.Cookies set : @Request.Cookies["myCookie"] = @DateTime.Now<br />
@*
Request.Cookies get : @Request.Cookies["myCookie"].Value<br />
*@
WebSecurity.CurrentUserName : @WebSecurity.CurrentUserName<br />