﻿@model List<MusicStore.Models.Album>
@{
	ViewBag.Title = "ASP.NET MVC Music Store";
}

<div id="promotion">
</div>

<h3>
	<em>Fresh</em> off the grill
</h3>

<ul id="album-list">
	@foreach (var album in Model)
	{
		<li>
			<a href="@Url.Action("Details", "Store", new { id = album.AlbumId })">
				<img alt="@album.Title" src="@album.AlbumArtUrl" />
				<span>@album.Title</span>
			</a>
		</li>
	}
</ul>
