﻿@model MvcApplication2.Models.OrdersJqGridModel
@using Trirand.Web.Mvc


@{
    ViewBag.Title = "Home Page";
}

<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

@Html.Trirand().JQGrid(Model.OrdersGrid, "jqBookGrid")