﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/themes/sunny/jquery-ui-1.8.13.custom.css")" rel="stylesheet" type="text/css" />

	@Content.Script("jquery-1.6.1.min.js", Url)
	@Content.Script("jquery.unobtrusive-ajax.min.js", Url)
	@Content.Script("modernizr-1.7.min.js", Url)
	@Content.Script("jquery-ui-1.8.13.min.js", Url)
	@Content.Script("myScript.js", Url)

</head>
<body>
	<div class="page">
		<header>
			<div id="title">
				<h1>내 MVC 응용 프로그램</h1>
			</div>
			<div id="logindisplay">
				@Html.Partial("_LogOnPartial")
			</div>
			<nav>
				<ul id="menu">
					<li>@Html.ActionLink("홈", "Index", "Home")</li>
					<li>@Html.ActionLink("캐쉬, Globalization", "About", "Home")</li>
					<li>@Html.ActionLink("Cuisine", "Search", "Cuisine", new { name = "french" }, null)</li>
					<li>@Html.ActionLink("리뷰", "Index", "Reviews")</li>
					<li>@Html.ActionLink("Restaurant", "Index", "Restaurant")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
				</ul>
			</nav>
		</header>
		<section id="main">
			@RenderBody()
		</section>
		<footer>
		</footer>
	</div>

	@RenderSection("script", false)
</body>
</html>
