﻿@model IEnumerable<Razor_pluralsight.Models.Restaurant>
		   
<table id="searchResults">
	<tr>
		<th>Name</th>
		<th>Address</th>
	</tr>

@foreach (var item in Model)
{
	<tr>
		<td>@Html.ActionLink(item.Name, "Details", "Restaurant", new { id = item.Id }, null)</td>
		<td>@item.Address.State, @item.Address.City</td>
	</tr>
}

</table>
