﻿@model Razor_pluralsight.Models.Review
		   
<div class="review">
	<h4>@Model.Restaurant.Name</h4>
	<span>Rating: @Model.Rating</span>
	<p>
		<span>@Model.Body</span> 
		<span class="right">@Html.ActionLink("Edit", "Edit", "Reviews", new { id = Model.ID }, null)
		</span>
	</p>
</div>
