﻿@model MusicStore.Models.Order

@{
	ViewBag.Title = "Address and Payment";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
	<h2>Address and Payment</h2>
	<fieldset>
		<legend>Shipping Information</legend>

		@Html.EditorForModel()
	</fieldset>
	<fieldset>
	<legend>Payment</legend>
		<p>We're running a promotion: all music is free with the promo code: "Free"</p>

		<div class="editor-label">
			@Html.Label("Promo Code")
		</div>
		<div class="editor-field">
			@Html.TextBox("PromoCode")
		</div>
	</fieldset>																		       
	<input type="submit" value="Submit Order" />
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
