﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>    
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>Expense Tracker</h1>
            </div>

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Category", "Index", "Category")</li>					
                    <li>@Html.ActionLink("Expense", "Index", "Expense")</li>
                </ul>

            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            Shiju Varghese | <a href="http://weblogs.asp.net/shijuvarghese">Blog</a> | <a href="http://twitter.com/shijucv">Twitter</a>
            </div>
        </div>
    </div>
</body>
</html>
