li
{
	list-style-position: outside;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 2px 1px #DCDCDC;
}

a, a:link, a:active, a:visited
{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	background-color: #EEEEEE;
}
li
{
	text-align: center;
	list-style-type: none;
	width: 350px;
	padding: 10px;
	margin: 10px;
	background-color: #EEEEEE;
	border: 1px solid #000000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(-5deg);
	transform: rotate(5);
}
li:hover
{
	text-decoration: blink;
	background-color: #D0F8BA;
}



/*  div로 열 및 layout 나누기 */
div.equal-column
{
	width: 45%;
	height: 100%;
}
div#left
{
	float: left;
}
div#right
{
	float: right;
}
div.something-below
{
	width: 100%;
	clear: both;
}


p.content
{
	border: 1px solid DarkGray;
	box-sizing: content-box;
	box-shadow: 2px 2px 1px lightGray;
}


div#textual-columns
{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}


/* 글꼴 다운로드 */
body {
  font-family: 'Architects Daughter', 돋움;
}
