﻿<%@ Page Title="홈 페이지" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="WebDeployTest._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        ASP.NET 시작
    </h2>
    <p>
        ASP.NET에 대한 자세한 내용을 보려면 <a href="http://www.asp.net" title="ASP.NET 웹 사이트">www.asp.net</a>을 방문하십시오.
    </p>
    <p>
        <a href="http://go.microsoft.com/fwlink/?LinkID=152368"
            title="MSDN ASP.NET 문서">MSDN에서 ASP.NET 설명서</a>를 확인할 수도 있습니다.
    </p>
</asp:Content>
