﻿@model IEnumerable<MyFinance.Domain.Category>
@{
    ViewBag.Title = "Index";
}
<h2>Category List</h2>   
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>   
   <div id="divCategoryList">          
    @Html.Partial("CategoryList", Model)
</div>
