﻿@model dynamic

<!DOCTYPE html>

<html>
<head>
    <title>EfficientWay</title>
    <style type="text/css">
        .webGrid { margin: 4px; border-collapse: collapse; width: 300px; }
        .header { background-color: #E8E8E8; font-weight: bold; color: #FFF; }
        .webGrid th, .webGrid td { border: 1px solid #C0C0C0; padding: 5px; }
        .alt { background-color: #E8E8E8; color: #000; }
        .person { width: 200px; font-weight:bold;}
    </style>
</head>
<body>
    <script type="text/javascript" src="../../Scripts/jquery-1.4.1.js"></script>
    <script type="text/javascript" src="../../Scripts/Pager.js"></script>
</body>
</html>

