﻿@model List<MvcApplication1.Models.FavouriteGivenName>

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <style type="text/css">
        .webGrid { margin: 4px; border-collapse: collapse; width: 300px; }
        .header { background-color: #E8E8E8; font-weight: bold; color: #FFF; }
        .webGrid th, .webGrid td { border: 1px solid #C0C0C0; padding: 5px; }
        .alt { background-color: #E8E8E8; color: #000; }
        .person { width: 200px; font-weight:bold;}
    </style>
</head>
<body>            

    @{
        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5);
        grid.Pager(WebGridPagerModes.NextPrevious);
        @grid.GetHtml(tableStyle: "webGrid",
                htmlAttributes: new { id = "DataTable" },
                headerStyle: "header",
                alternatingRowStyle: "alt",
                columns: grid.Columns(
                    grid.Column("Age"),
                    grid.Column("Id"),
                    grid.Column("Name")
        ));       
    }
</body>
</html>

