﻿@model IEnumerable<MusicStore.Models.Album>
@using RazorHelpers

@helper TruncateText(string input, int length)
{
	if (input.Length < length)
	{
	@input
	}
	else
	{
	@input.Substring(0, length)<text>...</text>
	}
}
@{
	ViewBag.Title = "StoreManager";
	const int TRUNCATE_LENGTH = 25;
}

<h2>@ViewBag.Title</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table>
	<tr>
		<th>
			Genre
		</th>
		<th>
			Artist
		</th>
		<th>
			Title
		</th>
		<th>
			Price
		</th>
		<th></th>
	</tr>

@foreach (var item in Model)
{
	<tr>
		<td>
			<!-- App_Code에 Helper method 작성으로 프로젝트 내에서 사용 -->
			@HtmlHelpers.TruncateText(item.Genre.Name, TRUNCATE_LENGTH)
		</td>
		<td>
			<!-- 현재 페이지에만 Helper method 작성 -->
			@TruncateText(item.Artist.Name, TRUNCATE_LENGTH)
		</td>
		<td>
			<!-- 확장 Method로 Helper method 작성 -->
			@Html.Truncate(item.Title, TRUNCATE_LENGTH)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Price)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new
	   {
		   id=item.AlbumId
	   }) |
			@Html.ActionLink("Details", "Details", new
	   {
		   id=item.AlbumId
	   }) |
			@Html.ActionLink("Delete", "Delete", new
	   {
		   id=item.AlbumId
	   })
		</td>
	</tr>
}

</table>
