﻿@model MVC3_01.Models.Person
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>GetJsonPersonIndex</title>
	<style type="text/css">
		h3
		{
			background-color: Orange;
			text-align: center;
		}
	</style>

	<script type="text/ecmascript" src="../../Scripts/jquery-1.4.4.js">
	</script>

	<script type="text/ecmascript">
		$(document).ready(
		function () {
			$("h3").click(whenH3Click);
		});

		function whenH3Click() {
			$.ajax({
				type:"POST",
				dataType:"json",
				url:"/Home/GetJsonPerson2",
				success:whenSuccess
			});
		}

		function whenSuccess(json) {
			var result = "";

			for (var i in json) {
				result += json[i]["Name"] + ", " + json[i]["Age"] + ", " + json[i]["Region"] + "</br>"
			}
			
			document.getElementById("myH").innerHTML = result;
		}				
	</script>

</head>
<body>
	<header>
		<h1>
			ASP.NET MVC3</h1>
		<h2>
			with Ajax</h2>
		<h3>
			Click it</h3>
	</header>
	<hr />
	<h1 id="myH"></h1>
</body>
</html>
