﻿@{
	ViewBag.Title = "Index";
	List<SelectListItem> itemList = new List<SelectListItem>()
	{
		new SelectListItem() { Text = "A", Value = "A"},
		new SelectListItem() { Text = "B", Value = "B"},
		new SelectListItem() { Text = "C", Value = "C", Selected = true	},
		new SelectListItem() { Text = "D", Value = "D"},
		new SelectListItem() { Text = "E", Value = "E"},
		new SelectListItem() { Text = "F", Value = "F"},
		new SelectListItem() { Text = "G", Value = "G"},
	};
}
<style type="text/css">
	select
	{
		width:50%;
	}
	.listBox
	{
		width:80%;
		font-family:"맑은 고딕";
	}
</style>


<h2>
	Hello ASP.NET MVC3</h2>
@Html.ActionLink("Move TypedViewIndex", "TypedViewIndex")
<hr />
@Html.ActionLink("Exam1", "Exam1", new
{
	id = 222
})
<hr />
@Html.ActionLink("Exam2", "Exam2", new
{
	id = 222,
	alpha = "Ki Won",
	beta = "Kim",
})
<hr />
@Html.ActionLink("PostTestGet", "PostTestGet")
<hr />
@Html.ActionLink("GetJsonPerson", "GetJsonPerson")
<hr />
@Html.ActionLink("GetJsonPersonIndex", "GetJsonPersonIndex")
<hr />
@Html.ActionLink("GetJsonPersonIndex2", "GetJsonPersonIndex2")
<hr style="height:5" />
@Html.ActionLink("NorthwindProduct", "Index", "Northwind")
<hr />
<div>
	<h1>
		Hello ASP.NET MVC3</h1>
	<ul>
		@for (int i = 0; i < 10; i++)
  { 
			<li>With CSHTML Razor...! + @i</li>
  }
	</ul>
	<p>@ViewData["FromViewData"]</p>
	<p>@ViewBag.ViewBag</p>
	<hr />
	<table style="border:1">
		<tr>
			<td>
				이름
			</td>
			<td>
				나이
			</td>
			<td>
				지역
			</td>
		</tr>
		@foreach (var item in ViewBag.Persons)
  {
			<tr>
				<td>@item.Name
				</td>
				<td>@item.Age
				</td>
				<td>@item.Region
				</td>
			</tr>
  }
	</table>
	<hr />
	@using (Html.BeginForm())
 {
		<fieldset>
			<legend>Join</legend>
			<input type="text" />
			<p>
				이름 : @Html.TextBox("txtName")</p>
			<p>
				나이 : @Html.TextBox("txtAge")</p>
			<p>
				지역 : @Html.TextBox("txtRegion")</p>
		</fieldset>
		<input type="submit" value="제출" />
 }
	<hr />
	@Html.TextBox("testTextBox", "test", new { just = "asd", ini = "IN", time=DateTime.Now })
	<hr />
	@Html.ListBox("lstSample", itemList, new { Class="listBox" })
</div>
