﻿@model MVC3_01.Models.Person
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>PostTest</title>
</head>
<body>
	<div>
		@using (Html.BeginForm())
		{
			<p>Name : @Model.Name</p>
			<p>Age  : @Model.Age</p>
			<p>Region : @Model.Region</p>
		}
	</div>
</body>
</html>
