﻿@model MVC3_01.Models.Person
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>PostTestGet</title>
</head>
<body>
	<div>
		@using (Html.BeginForm())
		{
			<p>Name : </p>@Html.TextBoxFor(model => model.Name);
			<p>Age  : </p>@Html.TextBoxFor(model => model.Age);
			<p>Region : </p>@Html.TextBoxFor(model => model.Region);
			
			<p /><input type="submit" value="제출" />
		}
	</div>
</body>
</html>
