﻿@model IEnumerable<MVC3_01.Models.Person>
@{
	ViewBag.Title = "TypedViewIndex";
}
<h2>
	TypedViewIndex</h2>
@Html.ActionLink("Move Index", "Index")
<hr />
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table>
	<tr>
		<th>
		</th>
		<th>
			Name
		</th>
		<th>
			Age
		</th>
		<th>
			Region
		</th>
	</tr>
	@foreach (var item in Model)
 {
		<tr>
			<td>
				@Html.ActionLink("Edit", "TypedViewIndex/" + "Edit", new
{ /* id=item.PrimaryKey */
}) |
				@Html.ActionLink("Details", "TypedViewIndex/" + "Details", new
{ /* id=item.PrimaryKey */
}) |
				@Html.ActionLink("Delete", "Delete", new
{ /* id=item.PrimaryKey */
})
			</td>
			<td>
				@item.Name
			</td>
			<td>
				@item.Age
			</td>
			<td>
				@item.Region
			</td>
		</tr>
 }
</table>
<hr style="height: 5" />
@foreach (var item in Model)
{
	<p>@item.Name</p>
	<p>@item.Age</p>
	<p>@item.Region</p>
	<hr />
}
