﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<!-- 모바일용 Viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=yes, target-densitydpi=medium-dpi" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<link href="@Url.Content("~/Content/jquery.mobile-1.0b2.css")" rel="stylesheet" type="text/css" />

	<script src="@Url.Content("~/Scripts/jquery-1.6.2.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.custom.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.mobile-1.0b2.js")" type="text/javascript"></script>
	<!-- jQuery template plugin -->
	<script src="@Url.Content("~/Scripts/jQuery.tmpl.js")" type="text/javascript"></script>

	<!-- iScroll jQuery plugin -->
	<link href="@Url.Content("~/Content/Carousel/iScrollCarousel.css")" rel="stylesheet" type="text/css" media="all" />
	<script src="@Url.Content("~/Scripts/iScroll/iscroll.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/iScroll/iScrollCarousel.js")" type="text/javascript"></script>
	

	<!--
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js" type="text/javascript"></script>
		<script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js" type="text/javascript"></script>
		<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/jscript"></script>
		<script src="https://github.com/cubiq/iscroll/raw/master/src/iscroll.js" type="text/jscript"></script>
	-->
@if (false)
{
	<script src="../../Scripts/jquery-1.6.2-vsdoc.js" type="text/javascript"></script>
}
</head>

<body>
	@RenderBody()
</body>
</html>
