﻿@model MVC3_01.Models.Products

@{
    ViewBag.Title = "IndexDetail";
}

<style type="text/css">
	.display-label
	{
		background-color:LightGray;
	}
	.display-field
	{
		background-color:LightGreen;
	}		
</style>

<h2>IndexDetail</h2>

<fieldset>
    <legend>Products</legend>

    <div class="display-label">ProductName</div>
    <div class="display-field">@Model.ProductName</div>

    <div class="display-label">SupplierID</div>
    <div class="display-field">@Model.SupplierID</div>

    <div class="display-label">CategoryID</div>
    <div class="display-field">@Model.CategoryID</div>

    <div class="display-label">QuantityPerUnit</div>
    <div class="display-field">@Model.QuantityPerUnit</div>

    <div class="display-label">UnitPrice</div>
    <div class="display-field">@String.Format("{0:F}", Model.UnitPrice)</div>

    <div class="display-label">UnitsInStock</div>
    <div class="display-field">@Model.UnitsInStock</div>

    <div class="display-label">UnitsOnOrder</div>
    <div class="display-field">@Model.UnitsOnOrder</div>

    <div class="display-label">ReorderLevel</div>
    <div class="display-field">@Model.ReorderLevel</div>

    <div class="display-label">Discontinued</div>
    <div class="display-field">@Model.Discontinued</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

