﻿@model IEnumerable<MVC3_01.Models.Products>
@{
	ViewBag.Title = "Index";
}
<style type="text/css">
	article
	{
		display:block;
		border:1px Solid Gray;
		border-radius:10px;
		width:180px;
		height:140px;
		float:left;
		padding-left:10px;
		margin:10px;
	}
	section
	{
		display:block;
		overflow:hidden;
	}		
</style>
<h2>
	Index</h2>
<header>
	<h3>RenderAction with MenuBar</h3>
	<nav>
		@{Html.RenderAction("MenuBar", "Northwind");}
	</nav>
</header>
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<section>
@foreach (var item in Model)
{
	<article>		
		<table style="width:auto">
			<tr>
				<td rowspan="2" style="width:40%">
					<img src="@Url.Content("/Content/Gravatar.png")" alt="배경" 
						onclick="@Url.Action("Details", new { id=item.ProductID })" /></td>
				<td>@item.ProductName</td>
			</tr>
			<tr>
				<td>@item.UnitPrice</td>
			</tr>
			<tr>
				<td>@Html.ActionLink("Edit", "Edit", new { id=item.ProductID })</td>
				<td>@Html.ActionLink("Delete", "Delete", new { id=item.ProductID })	</td>
			</tr>
		</table>
	</article>
}
</section>

<table>
	<tr>
		<th>
		</th>
		<th>
			ProductName
		</th>
		<th>
			SupplierID
		</th>
		<th>
			CategoryID
		</th>
		<th>
			QuantityPerUnit
		</th>
		<th>
			UnitPrice
		</th>
		<th>
			UnitsInStock
		</th>
		<th>
			UnitsOnOrder
		</th>
		<th>
			ReorderLevel
		</th>
		<th>
			Discontinued
		</th>
	</tr>
	@foreach (var item in Model)
 {
		<tr>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id=item.ProductID, item }) |
				@Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
				@Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
			</td>
			<td>
				@item.ProductName
			</td>
			<td>
				@item.SupplierID
			</td>
			<td>
				@item.CategoryID
			</td>
			<td>
				@item.QuantityPerUnit
			</td>
			<td>
				@String.Format("{0:F}", item.UnitPrice)
			</td>
			<td>
				@item.UnitsInStock
			</td>
			<td>
				@item.UnitsOnOrder
			</td>
			<td>
				@item.ReorderLevel
			</td>
			<td>
				@item.Discontinued
			</td>
		</tr>
 }
</table>
