﻿<ul>
	@foreach (string item in ViewBag.Dic.Keys)
{
	List<int?> values = @ViewBag.Dic[@item];
	 
	<li>@item : @Html.DropDownList(@item, values.Select(id => new SelectListItem(){
			Text = id.ToString(), 
			Value = id.ToString(),
		}))
	</li>
}
</ul>
