﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>

	<!-- css 글꼴 다운로드 -->
	<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' 
		rel='stylesheet' type='text/css'>
</head>

<body>
	@RenderBody()
</body>
</html>
