﻿@model SimpleMembershipTest.Models.ChangePropertyModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	<fieldset>
		<legend>Change Password Form</legend>
		<ol>
			<li>
				@Html.LabelFor(m => m.LocalPasswordModel.OldPassword)
				@Html.PasswordFor(m => m.LocalPasswordModel.OldPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.LocalPasswordModel.NewPassword)
				@Html.PasswordFor(m => m.LocalPasswordModel.NewPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.LocalPasswordModel.ConfirmPassword)
				@Html.PasswordFor(m => m.LocalPasswordModel.ConfirmPassword)
			</li>
		</ol>
		<input type="submit" value="Change password" />
	</fieldset>
}
