﻿@model ICollection<SimpleMembershipTest.Models.ExternalLogin>

@if (Model.Count > 0)
{
	<fieldset id="socialLoginList">
		<h3>Registered external logins click to remove</h3>
		<legend>Remove registered external logins</legend>
		<p>
			@foreach (SimpleMembershipTest.Models.ExternalLogin externalLogin in Model)
			{
				using (Html.BeginForm("Disassociate", "Account"))
				{
					@Html.AntiForgeryToken()
					@Html.Hidden("provider", externalLogin.Provider)
					@Html.Hidden("providerUserId", externalLogin.ProviderUserId)
					<button class="zocial @externalLogin.ProviderDisplayName.ToLower()" style="float:left;">
						@externalLogin.ProviderDisplayName
					</button>
				}
			}
		</p>
	</fieldset>
}
