﻿@model SimpleMembershipTest.Models.ChangePropertyModel

<p>
	You do not have a local password for this site. Add a local
	password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account")) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	<fieldset>
		<legend>Set Password Form</legend>
		<ol>
			<li>
				@Html.LabelFor(m => m.LocalPasswordModel.NewPassword)
				@Html.PasswordFor(m => m.LocalPasswordModel.NewPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.LocalPasswordModel.ConfirmPassword)
				@Html.PasswordFor(m => m.LocalPasswordModel.ConfirmPassword)
			</li>
		</ol>
		<input type="submit" value="Set password" />
	</fieldset>
}
