﻿@model Razor_pluralsight.Models.Restaurant

@{
	ViewBag.Title = "Details";
}

<fieldset>
	<legend>Restaurant</legend>

	<div class="display-label">Name</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Name)
	</div>

	<div class="display-label">ChefsName</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.ChefsName)
	</div>

	<div class="display-label">Address</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Address)        
	</div>
</fieldset>
<p>
	@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>

<h2>Reviews</h2>

@foreach (var review in Model.Reviews)
{
	@Html.Partial("_Review", review)
}

@Html.ActionLink("Create a new review", "Create", "Reviews", new { restaurantId = Model.Id }, null)