﻿@model Nop.Web.Models.News.NewsItemListModel
@using Nop.Web;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
    
    //TODO Display news RSS feed link in the browser address bar
}
<div class="newslist">
    <div class="title">
        <table style="width: 100%;">
            <tr>
                <td style="text-align: left; vertical-align: middle;">
                    @T("News")
                </td>
                <td style="text-align: right; vertical-align: middle;">
                    <a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })">
                        <img title="@T("News.RSS.Hint")" src="@Url.Content("~/content/images/icon_rss.gif")" alt="@T("News.RSS")" style="border-width:0px;" /></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="clear">
    </div>
    <div class="newsitems">
        @foreach (var item in Model.NewsItems)
        {
            <div class="item">
                <a class="newstitle" href="@Url.RouteUrl("NewsItem", new { newsItemId = item.Id, SeName = item.SeName })">
                    @item.Title</a> <span class="newsdate">-
                        @item.CreatedOn.ToString("D")
                    </span>
                <div class="newsdetails">
                    @Html.Raw(item.Short)
                </div>
                <a href="@Url.RouteUrl("NewsItem", new { newsItemId = item.Id, SeName = item.SeName })" class="readmore">
                    @T("News.MoreInfo")</a>
            </div>
        }
    </div>
    <div class="pager">
        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
    </div>
</div>
