﻿@{
	ViewBag.Title = "홈 페이지";
}

<h2>@ViewBag.Message</h2>
<p>
	Web Site Administration Tool (<a href="http://msdn.microsoft.com/ko-kr/library/yy40ytx0.aspx"
		title="웹 사이트 관리 도구 개요">웹 사이트 관리 도구 개요</a>)나 <br />
		내 블로그(<a href="http://xyz37.blog.me/50111483328" target="_blank">http://xyz37.blog.me/50111483328</a>)를 방문합니다.<br />
	<ul>
	<li>SQL server<br />
		C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_regsql.exe를 실행하여 적용하려는 서버에 aspnetdb를 생성 후<br />
		web.config에 Data Source=localhost;Initial Catalog=aspnetdb;Integrated Security=True" 를 추가해 주면 된다.
	</li>
	<li>Sql server Compact Edition<br />
		nuGet Library Package Manger에서 SqlCeMembership 패키지를 설치해준다.
	</li>
	</ul>
</p>
