﻿@model System.Web.Mvc.HandleErrorInfo
@{
	ViewBag.Title = "오류 발생";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="outterBox">

	<div class="innerBoxBlur">

		<div class="innerBox">

			<div class="message">
				<h2>
					@ViewBag.Message
				</h2>
			</div>

			@if (Url.IsLocalUrl(HttpContext.Current.Request.Url.ToString()))
   {
				<br />
				<hr />
				<br />
			
				<div class="exceptionInfo">
					Controller : @Model.ControllerName<br />
					Action : @Model.ActionName<br />
				</div>

				<br />
				<hr />
				<br />
			
				<div class="exceptionMessage">
					<blockquote>
						@Model.Exception.Message
					</blockquote>
					<pre>
						@Model.Exception.StackTrace
					</pre>
					@if (Model.Exception.InnerException != null)
	 {
						<pre>내부 메세지:</pre>
						<br />
						@Model.Exception.InnerException.Message
	 }
				</div>
   }
		</div>

	</div>

</div>

