﻿@model System.Web.Mvc.HandleErrorInfo
@{
	ViewBag.Title = "페이지가 없습니다.";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="outterBox">

	<div class="innerBoxBlur">

		<div class="innerBox">

			<div class="message">
				<h2>
					죄송합니다.<br />
					<br />
					해당 페이지를 찾을 수 없거나 잘못된 경로로 접근하였습니다.
				</h2>
			</div>
@if (Url.IsLocalUrl(HttpContext.Current.Request.Url.ToString()))
   {
				<br />
				<hr />
				<br />
			
				<div class="exceptionInfo">
					Controller : @Model.ControllerName<br />
					Action : @Model.ActionName<br />
				</div>

				<br />
				<hr />
				<br />
			
				<div class="exceptionMessage">
						@Model.Exception.Message
						<pre>
@Model.Exception.StackTrace
						</pre>
					@if (Model.Exception.InnerException != null)
	 {
						<blockquote>
							내부 메세지:
							<br />
							@Model.Exception.InnerException.Message
						</blockquote>
	 }
				</div>
   }
		</div>

	</div>

</div>

