﻿@model System.Web.Mvc.HandleErrorInfo
@{
	ViewBag.Title = "오류 발생";
	Layout = "~/Views/Shared/_Layout.cshtml";
	string message = ViewBag.Message;
}

<div class="outterBox">

	<div class="innerBoxBlur">

		<div class="innerBox">

			<div class="message">
				<h2>
					@message
				</h2>
			</div>

@if (Url.IsLocalUrl(HttpContext.Current.Request.Url.ToString()))
   {
				<br />
				<hr />
				<br />
			
				<div class="exceptionInfo">
					Controller : @Model.ControllerName<br />
					Action : @Model.ActionName<br />
				</div>

				<br />
				<hr />
				<br />
			
				<div class="exceptionMessage">
						@Model.Exception.Message
						<pre>
@Model.Exception.StackTrace
						</pre>
					@if (Model.Exception.InnerException != null)
	 {
						<blockquote>
							내부 메세지:
							<br />
							@Model.Exception.InnerException.Message
						</blockquote>
	 }
				</div>
   }
		</div>

	</div>

</div>

