﻿@model IEnumerable<Razor_pluralsight.Models.Review>

@{
	ViewBag.Title = "The Lastest Reviews";
}

<h2>@ViewBag.Title</h2>

@*@foreach (var review in Model)
{
	Html.Partial("_Review", review);
}
*@
<table>
	<tr>
		<th>
			Rating
		</th>
		<th>
			Body
		</th>
		<th>
			DiningDate
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Rating)
		</td>
		<td>
			@Html.ActionLink(item.Body, "Edit", new { item.ID })
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.DiningDate)
		</td>
		<td>
			@Html.ActionLink("Delete", "Delete", new { id=item.ID })
		</td>
	</tr>
}

</table>
