﻿@model Razor_pluralsight.Models.LogOnModel

@{
    ViewBag.Title = "로그온";
}

<h2>로그온</h2>
<p>
    사용자 이름과 암호를 입력하십시오. 계정이 없는 경우 @Html.ActionLink("등록하십시오", "Register").
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "로그인하지 못했습니다. 오류를 수정한 후 다시 시도하십시오.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>계정 정보</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="로그온" />
            </p>
        </fieldset>
    </div>
}
