@model Scaffolding.Models.Book

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.ISBN)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ISBN)
    @Html.ValidationMessageFor(model => model.ISBN)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

