﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a href="/example/exception">Example/Exception</a><br />
    <a href="/example/db">Example/Db</a><br />
    <a href="/example/blah">Example/Blah</a>
</p>

