﻿@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<header>
		<h1>
			Blog RSS test</h1>
	</header>
	<h2>
		Post</h2>
	@foreach (var item in ViewBag.RSS)
 {
		<section>
			<hgroup>
				<h1><a href="@item.Link">@item.Title</a></h1>
				<h2>@item.Category</h2>
			</hgroup>
			<article>
				<p>@item.Description</p>
			</article>
		</section>	 
 }
</body>
</html>
