﻿@{
	ViewBag.Title = "Home Page";
}
@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
				<h2>@ViewBag.Message</h2>
			</hgroup>
			<p>To learn more about ASP.NET MVC visit
				<a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
				The page features
				<mark>videos, tutorials, and samples</mark>
				to help you get the most from ASP.NET MVC.
				If you have any questions about ASP.NET MVC visit
				<a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
			</p>
		</div>
	</section>
}
<h3>We suggest the following:</h3>
<ol class="round">
	<li class="one">
		<h5>Getting Started</h5>
		ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
		enables a clean separation of concerns and that gives you full control over markup
		for enjoyable, agile development. ASP.NET MVC includes many features that enable
		fast, TDD-friendly development for creating sophisticated applications that use
		the latest web standards.
		<a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
	</li>

	<li class="two">
		<h5>Add NuGet packages and jump-start your coding</h5>
		NuGet makes it easy to install and update free libraries and tools.
		<a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
	</li>

	<li class="three">
		<h5>Find Web Hosting</h5>
		You can easily find a web hosting company that offers the right mix of features
		and price for your applications.
		<a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
	</li>
</ol>
<div style="float: left;">
	<!-- AuthConfig.cs 에서 설정 -->
	<!-- https://github.com/ChrisMissal/aspnetwebstack/blob/master/src/Microsoft.Web.Helpers/Facebook.cshtml -->
	<!-- locale=ko_KR 이 url에 추가되지 않아서 한글이 지원되지 않는다. -->
	@Facebook.LikeButton(href: "http://x10.mine.nu/redmine",
				action: "recommend",
				font: "tahoma")
</div>
<div>
	<!-- 한글이 지원된다 -->
	<!-- 이 방법으로 할 경우 Facebook.LikeButton 로 만든것과 동기화 되지 않는다. -->
	<iframe src="http://www.facebook.com/plugins/like.php?href=http://x10.mine.nu/redmine"
		scrolling="no" frameborder="0" style="border: none; width: 450px; height: 80px"></iframe>
</div>

<div>
	<!-- 이 방법으로 할 경우 Facebook.LikeButton 로 만든것과 실시간 동기화 된다. -->
	<!-- https://developers.facebook.com/docs/reference/plugins/like/ 에서 생성한 코드 -->
	<div id="fb-root"></div>

	<script>
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<div class="fb-like" data-href="http://x10.mine.nu/redmine" data-send="true" data-width="450" data-show-faces="true"></div>
</div>

<div style="float: right;">
	<div class="fb-like-box" data-href="http://x10.mine.nu/redmine" data-width="292" data-show-faces="true" data-stream="true" data-header="true"></div>
	@Microsoft.Web.Helpers.Facebook.LikeBox("http://x10.mine.nu/redmine")
</div>


<div>
	@Twitter.FollowButton("xyz37_test")
	@Twitter.Profile("xyz37_test")
	@Twitter.Search("김기원")
	@Twitter.TweetButton()
	@Twitter.Faves("xyz37_test")
</div>