﻿#carouselPages
{
	width: 300px; /* page_width*/
	height: 200px; /* page_height*/
	position: relative;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: #909090; /* 전체 페이지의 배경(스크롤이 오버했을 때 나타나는 배경) */
}

#scroller
{
	width: 2100px; /* number_of_page * page_width*/
	height: 200px; /* page_height*/
	position: relative;
	margin-right: 0;
	padding-right: 0;
	top: 0;
	left: 0;
	float: left;
	overflow: hidden;
	background-color: #909090; /* 페이지 배경색 */
}

#scroller ul
{
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

#scroller li
{
	width: 300px; /* page_width */
	height: 200px; /* page_height */
	display: block;
	float: left;
	left: 0;
	top: 0;
	position: relative;
}

#scroller ul > li > div
{
	width: 240px;
	height: 184px; /* page_height - margin-top */
	margin-top: 16px; /* page_height의 6% */
	margin-left: 24px; /* page_width의 8% */
	margin-right: 12px; /* page_width의 8% */
	padding: 0;
	top: 0;
	left: 0;
	position: relative;
	background-color: #909090;
}

#scroller .scrollContent
{
	width: 240px; /* page_width - margin-left * 2 */
	height: 184px; /* page_height - margin-top */
	padding: 0;
	top: 0;
	left: 0;
}

#indicator, #indicator > li
{
	display: block;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}

#indicator
{
	padding: 12px 0px 8px 62px; /* left = (page_width - (25 * number_of_page)) / 2 */
	width: 238px; /* page_width - left */
	height: 20px; /* 실제 높이는 40px */
	top: 0;
	left: 0;
	float: left;
	background-color: #909090; /* indicator-bar의 배경색 */
}

#indicator > li
{
	/* 1개의 크기는 마진 포함 폭 25px */
	font-size: smaller; /* text-height : 16 */
	cursor: pointer;
	width: 12px;
	height: 16px;
	padding-left: 5px;
	margin-right: 10px;
	overflow: hidden;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	background: #c4c4c4;
}

#indicator > li.active
{
	color: #000;
	background-color: #fff;
}

#indicator > li:last-child
{
	margin: 0;
}
