﻿@{
	ViewBag.Title = "Layer toggle";
}

<h2>@ViewBag.Title</h2>

@*
<script type="text/javascript">
	// 아래와 같이 하면 $를 사용할 수 없고 매번 jQuery로 선언해야 한다.
	jQuery.noConflict();
	jQuery(function ($) {
		// 여기에 작성한 코드는 브라우저가 HTML 해석을 마칠 때까지 기다렸다가 실행합니다.
	});	// jQuery(function ($){ ... }); 안쪽에서는 충돌 없이 안전하게 달러 '$' 기호를 사용할 수 있다.
</script>
*@
<button class="red">Red</button>
<button class="white">White</button>


<script type="text/javascript">
	$(function () {
		$('button.red').click(function () {
			$('body').css('background', 'red');
		});
		$('button.white').click(function () {
			$('body').css('background', 'white');
		});
	});
</script>


<script type="text/javascript">
	$(function () {
		//$('#first, #second').hide();
		//$('#first, #second').hide('slow');
		$('a[href=#first], a[href=#second]').click(function () {
			$($(this).attr('href')).slideToggle();
			//$($(this).attr('href')).fadeToggle();
			//$($(this).attr('href')).toggle();

			return false;
		});
	});

	// 태그를 삽입한다.
	$('<p id="hey"></p>').html('Hey world!').css('background', 'yellow').appendTo("body");

	// background를 변경해주는 함수
	$.fn.background = function (bg) {
		return this.css('background', bg);
	};

	$('#hey').background('lightblue');

</script>


<p><a href="#first">First anchor</a></p>
<p id="first">First layer</p>
<p><a href="#second">Second anchor</a></p>
<p id="second">Second layer</p>