﻿@{
	ViewBag.Title = "Contents Rotation";
}
<h2>@ViewBag.Title</h2>

<ul class="rotation">
	<li>#1</li>
	<li>#2</li>
	<li>#3</li>
	<li>#4</li>
	<li>#5</li>
</ul>
<button type="button" class="prev">
	Prev</button>
<button type="button" class="next">
	Next</button>

<script type="text/javascript">
	$(function () {
		$('.rotation>li:gt(0)').hide();

		function onlyFirst() {
			$('.rotation>li').hide().eq(0).show();
		}

		// Prev를 누르면
		$('.prev').click(function () {
			// 마지막 li를 첫번째로 옮기고
			$('.rotation>li:last').prependTo('.rotation');
			// 모든 li를 감추고 첫번째 li만 표시한다.
			onlyFirst();
		});

		// Next를 누르면
		$('.next').click(function () {
			// 첫번째 li를 마지막으로 옮기고
			$('.rotation>li:first').appendTo('.rotation');
			// 모든 li를 감추고 첫번째 li만 표시한다.
			onlyFirst();
		});
	});
</script>

