﻿@{
	ViewBag.Title = "Navigation";
}
<h2>@ViewBag.Title</h2>

<h4>
	수직 네비게이션</h4>
<div class="gnbVr">
	<ul>
		<li><a href="#">#1</a>
			<ul>
				<li><a href="#">#1-1</a></li>
				<li><a href="#">#1-2</a></li>
			</ul>
		</li>
		<li><a href="#">#2</a>
			<ul>
				<li><a href="#">#2-1</a></li>
				<li><a href="#">#2-2</a></li>
			</ul>
		</li>
		<li><a href="#">#3</a>
			<ul>
				<li><a href="#">#3-1</a></li>
				<li><a href="#">#3-2</a></li>
			</ul>
		</li>
	</ul>
</div>

<script type="text/javascript">
	$(function () {
		var gnbVr = $('.gnbVr');

		gnbVr.find('>ul>li>ul').hide();
		gnbVr.find('>ul>li>a[href=#]')
			.click(function () {
				gnbVr
					.find('>ul>li>ul:visible')
					.slideUp(200)
					.parent('li')
					.removeClass('active')
					.find('>a')
					.css('font-weight', '');
				$(this)
					.next('ul:hidden')
					.slideDown(200)
					.parent('li')
					.addClass('active')
					.find('>a')
					.css('font-weight', 'bold');

				return false;
			})

	});
</script>

<h4>
	수평 네비게이션</h4>
<div class="gnbHr">
	<ul>
		<li><a href="#">#1</a>
			<ul>
				<li><a href="#">#1-1</a></li>
				<li><a href="#">#1-2</a></li>
			</ul>
		</li>
		<li><a href="#">#2</a>
			<ul>
				<li><a href="#">#2-1</a></li>
				<li><a href="#">#2-2</a></li>
			</ul>
		</li>
		<li><a href="#">#3</a>
			<ul>
				<li><a href="#">#3-1</a></li>
				<li><a href="#">#3-2</a></li>
			</ul>
		</li>
	</ul>
</div>

<script type="text/javascript">
	$(function () {
		var gnbHr = $('.gnbHr');

		gnbHr.find('>ul>li>ul').hide();
		gnbHr.find('>ul>li>a')
			.mouseover(function () {
				gnbHr
					.find('>ul>li>ul:visible')
					.slideUp(200)
					.parent('li')
					.removeClass('active')
					.find('>a')
					.css('fontWeight', '');
				$(this)
					.next('ul:hidden')
					.slideDown(200)
					.parent('li')
					.addClass('active')
					.find('>a')
					.css('font-weight', 'bold');
			})
			.focus(function () {
				$(this).mouseover();
			})
			.end()
			.mouseleave(function () {
				gnbHr
					.find('>ul>li>ul')
					.slideUp(200)
					.prev('a')
					.css('font-weight', '');
			});
	});
</script>

