﻿@{
	ViewBag.Title = "Validation";
}
<h2>@ViewBag.Title</h2>
<form action="" class="form">
	<p>
		(*) 항목은 반드시 입력해 주세요.</p>
	<ul>
		<li>
			<label for="uid">ID(*) : </label>
			<input id="uid" />
			영문, 숫자, _, - 이 포함된 3~16 문자
		</li>
		<li>
			<label for="upw">PW(*) :</label>
			<input id="upw" type="password" />
			영문, 숫자, _, - 이 포함된 3~18 문자
		</li>
		<li>
			<label for="mail">Email(*) :</label>
			<input id="mail" value="@@" />
		</li>
		<li>
			<label for="url">Web(*) :</label>
			<input id="url" value="http://" />
		</li>
		<li>
			<label for="tel">Tel(*) :</label>
			<input id="tel" />
			- 은 입력하지 마세요.
		</li>
	</ul>
	
	<input value="전송" class="" type="submit" />
	
</form>

<script type="text/javascript">
	$(document).ready(function () {
		// 정규식을 변수에 할당
		var re_id = /^[a-z0-9_-]{3,16}$/;
		var re_pw = /^[a-z0-9_-]{3,18}$/;
		var re_mail = /^([\w\.-]+)@@([a-z\d\.-]+)\.([a-z\.]{2,6})$/; // 이메일 검사식
		var re_url = /^(https?:\/\/)?([a-z\d\.-]+)\.([a-z\.]{2,6})([\/\w\.-]*)*\/?$/; // URL 검사식
		var re_tel = /^[0-9]{8,11}$/; // 전화번호 검사식

		// 성능향상을 위해서 선택 요소 변수 할당
		var form = $('.form');
		var uid = $('#uid');
		var upw = $('#upw');
		var mail = $('#mail');
		var url = $('#url');
		var tel = $('#tel');

		// 선택한 폼에 submit이 발생하면 실행한다.
		form.submit(function () {
			if (re_id.test(uid.val()) == false) {
				alert('[ID 입력 오류] 유효한 ID를 입력해 주세요.');
				uid.focus();

				return false;
			}
			else if (re_pw.test(upw.val()) == false) {
				alert('[PW 입력 오류] 유효한 PW를 입력해 주세요.');
				upw.focus();

				return false;
			}
			else if (re_mail.test(mail.val()) == false) {
				alert('[Email 입력 오류] 유효한 Email를 입력해 주세요.');
				mail.focus();

				return false;
			}
			else if (re_url.test(url.val()) == false) {
				alert('[Web 입력 오류] 유효한 웨사이트 주소를 입력해 주세요.');
				url.focus();

				return false;
			}
			else if (re_tel.test(tel.val()) == false) {
				alert('[Tel 입력 오류] 유효한 Tel를 입력해 주세요.');
				tel.focus();

				return false;
			}
		});

		$('#uid', '#upw').after('<strong></strong>');

		$('strong').text('ddd');

		uid.keyup(function () {
			var s = $(this).next('strong');

			if (uid.val().length == 0)
				s.text('');
			else if (uid.val().length < 3)
				s.text('너무 짧아요.');
			else if (uid.val().length > 16)
				s.text('너무 길어요.');
			else
				s.text('적당해요.');
		});

		upw.keyup(function () {
			var s = $(this).next('strong');

			if (uid.val().length == 0)
				s.text('');
			else if (uid.val().length < 3)
				s.text('너무 짧아요.');
			else if (uid.val().length > 18)
				s.text('너무 길어요.');
			else
				s.text('적당해요.');
		});

		tel.keydown(function () {
			if (event.keycode == 109 || event.keyCode == 189) {
				return false;
			}
		});
	});
</script>

