﻿@{
	ViewBag.Title = "FAQ(Accordion effect)";
}
<link href="@Url.Content("~/Content/5faq.css")" rel="stylesheet" type="text/css" />

<h2>@ViewBag.Title</h2>

<div class="faq">
	<div class="faqHeader">
		<h1>FAQ</h1>
		<button class="showAll" type="button">답변 모두 여닫기</button>
	</div>
	<ul class="faqBody">
		<li class="article" id="a1">
			<p class="q">
				<a href="#" class="">Q: 질문과 답변 목록은 무엇으로 마크업 해야 하나요?</a>
			</p>
			<p class="a">
				A: 비 순차 목록, 순차 목록, 정의 목록으로 마크업 할 수 있습니다. 더 나아가 각각의 항목 안에서 '질문'과 '답변'을 무엇으로 마크업 할
				것인지에 대하여는 많은 고민이 필요 합니다.
			</p>
		</li>
		<li class="article" id="a2">
			<p class="q">
				<a href="#" class="">Q: 질문과 답변 목록은 무엇으로 마크업 해야 하나요?</a>
			</p>
			<p class="a">
				A: 비 순차 목록, 순차 목록, 정의 목록으로 마크업 할 수 있습니다. 더 나아가 각각의 항목 안에서 '질문'과 '답변'을 무엇으로 마크업 할
				것인지에 대하여는 많은 고민이 필요 합니다.
			</p>
		</li>
		<li class="article" id="a3">
			<p class="q">
				<a href="#" class="">Q: 질문과 답변 목록은 무엇으로 마크업 해야 하나요?</a>
			</p>
			<p class="a">
				A: 비 순차 목록, 순차 목록, 정의 목록으로 마크업 할 수 있습니다. 더 나아가 각각의 항목 안에서 '질문'과 '답변'을 무엇으로 마크업 할
				것인지에 대하여는 많은 고민이 필요 합니다.
			</p>
		</li>
	</ul>
</div>
<button type="button" onclick="$('link').attr('href', '')">CSS (X)</button>
<button type="button" onclick="$('link').attr('href', '@Url.Content("~/Content/5faq.css")')">CSS (O)</button>

<script type="text/javascript">
	$(function () {
		var article = $('.article');
		var articleCount = article.length;

		$('.a').hide();
		// 첫번째 항목만 보이도록 한다.
		//article.eq(0).removeClass('hide').addClass('show');
		article.eq(0).find('.a').slideDown(100);

		article
			.click(function () {
				var visibleCount = $('.a:visible').length;

				$('.a:visible').slideUp(100);
				$(this).find('.a:hidden').slideDown(100);

				// 전체가 열려있으면
				if (articleCount == visibleCount) {
					var selectedArticle = $('#' + $(this).attr('id'));

					// TODO: 나머지 항목만을 찾아서 닫는 구문으로 바꾼다.
					article.find('.a').hide();
					selectedArticle.find('.a').slideDown(100); // 선택한 항목만 연다.
				}
			});

		// 답변 모두 여닫기
		$('.showAll')
			.click(function () {
				var hiddenCount = $('.a:hidden').length;

				if (hiddenCount > 0)
					$('.a').slideDown(100);
				else
					$('.a').slideUp(100);
			});
	});
</script>

