﻿@{
	ViewBag.Title = "Linked Tab Navigation";
}
<link href="@Url.Content("~/Content/tabNavi.css")" rel="stylesheet" type="text/css" />

<h2>@ViewBag.Title</h2>

<div class="tab line jx">
	<ul>
		<li><a href="#"><span>Menu 1</span></a>
			<ul>
				<li class="active"><a href="#">Menu 1-1</a></li>
				<li><a href="#">Menu 1-2</a></li>
				<li><a href="#">Menu 1-3</a></li>
			</ul>
		</li>
		<li><a href="#"><span>Menu 2</span></a>
			<ul>
				<li><a href="#">Menu 2-1</a></li>
				<li><a href="#">Menu 2-2</a></li>
				<li><a href="#">Menu 2-3</a></li>
			</ul>
		</li>
		<li><a href="#"><span>메뉴 3</span></a>
			<ul>
				<li><a href="#">메뉴 3-1</a></li>
				<li><a href="#">메뉴 3-2</a></li>
				<li><a href="#">메뉴 3-3</a></li>
			</ul>
		</li>
	</ul>
</div>


<script type="text/javascript">
	$(function () {
		var tabLine = $('div.tab.line');
		var tabLineD1 = tabLine.find('>ul>li');
		var tabLineD2 = tabLineD1.find('>ul>li');

		tabLine.removeClass('jx');
		tabLineD1.find('>ul').hide();

		function lineTabMenuToggle(event) {
			var t = $(this);
			tabLineD1.find('>ul').hide();
			t.next('ul').show();
			tabLineD1.removeClass('active');
			t.parent('li').addClass('active');

			return false;
		}

		function lineTabSubmenuActive(event) {
			tabLineD2.removeClass('active');
			$(this).parent(tabLineD2).addClass('active');

			return false;
		}

		tabLineD1.find('>a[href=#]')
			.click(lineTabMenuToggle)
			.focus(lineTabMenuToggle);
		tabLineD2.find('>a[href=#]')
			.click(lineTabSubmenuActive)
			.focus(lineTabSubmenuActive);
	});
</script>