﻿@{
	ViewBag.Title = "Faced Tab Navigation";
}
<link href="@Url.Content("~/Content/tabNavi.css")" rel="stylesheet" type="text/css" />

<h2>@ViewBag.Title</h2>

<div class="tab face jx">
	<ul>
		<li><a href="#"><span>Menu 1</span></a>
			<ul>
				<li class="active"><a href="#">Menu 1-1</a></li>
				<li><a href="#">Menu 1-2</a></li>
				<li><a href="#">Menu 1-3</a></li>
			</ul>
		</li>
		<li><a href="#"><span>Menu 2</span></a>
			<ul>
				<li><a href="#">Menu 2-1</a></li>
				<li><a href="#">Menu 2-2</a></li>
				<li><a href="#">Menu 2-3</a></li>
			</ul>
		</li>
		<li><a href="#"><span>메뉴 3</span></a>
			<ul>
				<li><a href="#">메뉴 3-1</a></li>
				<li><a href="#">메뉴 3-2</a></li>
				<li><a href="#">메뉴 3-3</a></li>
			</ul>
		</li>
	</ul>
</div>


<script type="text/javascript">
	$(function ($) {
		// Faced Tab Navigation
		var tab_face = $('div.tab.face');
		var tab_face_i = tab_face.find('>ul>li');
		var tab_face_ii = tab_face.find('>ul>li>ul>li');
		tab_face.removeClass('jx');
		tab_face_i.find('>ul').hide();
		tab_face_i.find('>ul>li[class=active]').parents('li').attr('class', 'active');
		tab_face.find('>ul>li[class=active]').find('>ul').show();
		
		function faceTabMenuToggle(event) {
			var t = $(this);
			tab_face_i.find('>ul').hide();
			t.next('ul').show();
			tab_face_i.removeClass('active');
			t.parent('li').addClass('active');
			return false;
		}
		
		function faceTabSubMenuActive() {
			tab_face_ii.removeClass('active');
			$(this).parent(tab_face_ii).addClass('active');
			return false;
		};
		
		tab_face_i.find('>a[href=#]').click(faceTabMenuToggle).focus(faceTabMenuToggle);
		tab_face_ii.find('>a[href=#]').click(faceTabSubMenuActive).focus(faceTabSubMenuActive);
	});
</script>