﻿@{
	ViewBag.Title = "Animation";
}
<h2>@ViewBag.Title</h2>


<img src="../../Content/image.png" id="image" alt="테스트" />

<script type="text/javascript">
	$.fn.ani1 = function () {
		// 5초 동안 선택한 이미지 크기를 50%로 줄이고 투명도를 0.3으로 설정
		return $('#image').animate({ width: "10%", opacity: 0.3 }, 3000);
	}

	$.fn.ani2 = function () {
		// 5초 동안 선택한 이미지 크기를 100%로 늘리고 투명도를 1로 설정한다.
		return $('#image').animate({ width: "20%", opacity: 1 }, 3000);
	}

	$.fn.ani3 = function () {
		// 메소드 연결을 이용하여 두가지 효과를 적용한다.(왼쪽에서 차례대로 실행된다.)
		return $('#image')
			.animate({ width: "50%", opacity: 0 }, 3000)
			.animate({ width: "200px", opacity: 1 }, 3000);
	}

	$(function () {
		$(this).ani1().ani2().ani3();

	});
</script>

