﻿@{
	ViewBag.Title = "Faced Tab Rotate Navigation";
}
<link href="@Url.Content("~/Content/FacedTabRotateNavi.css")" rel="stylesheet" type="text/css" />
<h2>@ViewBag.Title</h2>

<button type="button" id="prev_navi" class="navi_button">◀</button>
<button type="button" id="next_navi" class="navi_button">▶</button>

<div class="tab face jx">
	<ul>
		<li><a href="#"><span>홈</span></a> </li>
		<li><a href="#"><span id="111">패키지</span></a>
			<ul>
				<li><a href="#">최다 판매</a></li>
				<li><a href="#">최대 판매 저자</a></li>
				<li><a href="#">최대 평가 자막</a></li>
				<li><a href="#">샘플 포함</a></li>
				<li><a href="#">삭제된 패키지</a></li>
			</ul>
		</li>
		<li><a href="#"><span>장바구니</span></a> </li>
		<li><a href="#"><span>관심상품</span></a> </li>
		<li><a href="#"><span>구매내역</span></a>
			<ul>
				<li><a href="#">구매</a></li>
				<li><a href="#">샘플 구매</a></li>
				<li><a href="#">구매 취소</a></li>
				<li><a href="#">다운로드한 패키지</a></li>
			</ul>
		</li>
		<li><a href="#"><span>선물</span></a>
			<ul>
				<li><a href="#">내가 받은 선물</a></li>
				<li><a href="#">내가 보낸 선물</a></li>
			</ul>
		</li>
		<li><a href="#"><span>판매내역</span></a>
			<ul>
				<li><a href="#">판매</a></li>
				<li><a href="#">판매 정산</a></li>
				<li><a href="#">정산 내역</a></li>
			</ul>
		</li>
		<li><a href="#"><span>포인트</span></a> </li>
		<li><a href="#"><span>내 정보</span></a>
			<ul>
				<li><a href="#">거래내역</a></li>
				<li><a href="#">포인트</a></li>
				<li><a href="#">관심상품</a></li>
				<li><a href="#">회원정보변경</a></li>
				<li><a href="#">탈퇴</a></li>
			</ul>
		</li>
		<li><a href="#"><span>로그오프</span></a>
			<ul>
				<li><a href="#">아이디 찾기</a></li>
				<li><a href="#">비밀번호 초기화</a></li>
				<li><a href="#">사용자 잠금 해제</a></li>
			</ul>
		</li>
	</ul>
</div>


<script type="text/javascript">
	$(function ($) {
		// Faced Tab Navigation
		var tabFace = $('div.tab.face');
		var tabFaceD1 = tabFace.find('>ul>li');
		var tabFaceD2 = tabFaceD1.find('>ul>li');

		tabFace.removeClass('jx');
		tabFaceD1.find('>ul').hide();
		tabFaceD1.find('>ul>li[class=active]').parents('li').attr('class', 'active');
		tabFace.find('>ul>li[class=active]').find('>ul').show();

		function faceTabMenuToggle(event) {
			var t = $(this);
			tabFaceD1.find('>ul').hide();
			t.next('ul').show();
			tabFaceD1.removeClass('active');
			t.parent('li').addClass('active');

			return false;
		}

		function faceTabSubMenuActive() {
			tabFaceD2.removeClass('active');
			$(this).parent(tabFaceD2).addClass('active');

			return false;
		};

		tabFaceD1.find('>a[href=#]').click(faceTabMenuToggle).focus(faceTabMenuToggle);
		tabFaceD2.find('>a[href=#]').click(faceTabSubMenuActive).focus(faceTabSubMenuActive);


		// rotate faced tab navigation
		var maxMenus = 4; // 총 4개의 메뉴만 보이도록 한다.
		// TODO: javascript 변수를 jQuery selector에서 사용 하는 방법을 구한 뒤
		// 화면 크기에 따라서 / 76을 하여 개수를 계산한다.
		//$('.tab.face li a span').css('width', '74px');		// 첫번째 메뉴의 폭을 조절

		// 표시가능 메뉴 이하의 메뉴는 감춘다.
		$('div.tab.face>ul>li:gt(3)').hide();

		// 모든 li를 감추고 제한된 li만 표시한다.
		function displayLimitedMenus() {
			$('div.tab.face>ul>li').hide();
			$('div.tab.face>ul>li:lt(4)').show();
		}

		// Prev를 누르면
		$('#prev_navi').click(function () {
			// 마지막 li를 첫번째로 옮기고
			$('div.tab.face>ul>li:last').prependTo('div.tab.face>ul');
			$('div.tab.face>ul>li:last').prependTo('div.tab.face>ul'); 	// 2개의 항목을 이동한다.
			displayLimitedMenus();
		});

		// Next를 누르면
		$('#next_navi').click(function () {
			// 첫번째 li를 마지막으로 옮기고
			$('div.tab.face>ul>li:first').appendTo('div.tab.face>ul');
			$('div.tab.face>ul>li:first').appendTo('div.tab.face>ul'); 		// 2개의 항목을 이동한다.
			displayLimitedMenus();
		});
	});
</script>

