﻿@{
	ViewBag.Title = "jQuery examples";
}

<h2>http://naradesign.net 의 예제</h2>

<ul>
	<li>@Html.ActionLink("Layer toggle", "Index", new { viewName = "1LayerToggle" }, null)</li>
	<li>@Html.ActionLink("Contents rotation", "Index", new { viewName = "2ContentsRotation" }, null)</li>
	<li>@Html.ActionLink("Navigation", "Index", new { viewName = "3Navigation" }, null)</li>
	<li>@Html.ActionLink("Validation", "Index", new { viewName = "4Validation" }, null)</li>
	<li>@Html.ActionLink("FAQ(acordion effect)", "Index", new { viewName = "5FAQ" }, null)</li>
	<li>@Html.ActionLink("Linked Tab Navigation", "Index", new { viewName = "6LinkedTabNavigation" }, null)</li>
	<li>@Html.ActionLink("Faced Tab Navigation", "Index", new { viewName = "7FacedTabNavigation" }, null)</li>
	<li>@Html.ActionLink("List Item Tab Navigation", "Index", new { viewName = "8ListItemTabNavigation" }, null)</li>
	<li>@Html.ActionLink("Animation", "Index", new { viewName = "9Animation" }, null)</li>
	<li>@Html.ActionLink("Faced Tab Navi + Rotate contents", "Index", new { viewName = "aFacedTabRotateNavigation" }, null)</li>
</ul>


