﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "오류";
}

<h2>
    요청을 처리하는 동안 오류가 발생했습니다.
</h2>

Controller : @Model.ControllerName <br />
Action : @Model.ActionName<br />
<pre>
	Stack : @Model.Exception.StackTrace
</pre>