﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Exam01.master.cs" Inherits="Exam01.Exam011" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title>Title in master</title>
	<asp:ContentPlaceHolder ID="head" runat="server">
		Header zone
	</asp:ContentPlaceHolder>
</head>
<body>
	<form id="form1" runat="server">
		<div>
			<b>Before Master page...</b><br />
			<asp:Label ID="lblMaster" runat="server" Text="Master label"></asp:Label>
			<hr />
			<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
			</asp:ContentPlaceHolder>
			<hr />
			<b>
				After Master page...</b>
		</div>
	</form>
</body>
</html>
