﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Exam01.Master" AutoEventWireup="true" CodeBehind="Slave.aspx.cs" Inherits="Exam01.Slave" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
	<h2>Slave header zone label</h2>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
	<asp:Label ID="Label1" runat="server" Text="Slave Body"></asp:Label>
</asp:Content>
