﻿@model MusicStore.Models.Album

@{
	ViewBag.Title = "Album - " + Model.Title;
}

<h2>Album: @Model.Title</h2>

<div id="album-details">
	<p class="button">
		@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.AlbumId }, "")
	</p>
	<p><img alt="@Model.Title" src="@Model.AlbumArtUrl" /></p>

	<p>
		<em>Genre:</em>
		@Model.Genre.Name
	</p>	
	<p>
		<em>Artist:</em>
		@Model.Artist.Name
	</p>
	<p>
		<em>Price:</em>
		@string.Format("{0:F}", Model.Price)
	</p>
</div>
