﻿@model IEnumerable<MusicStore.Models.Genre>
@{
	ViewBag.Title = "Store";
}
<h3>
	Browse Genres</h3>
<p>
	Select from @Model.Count() genres:</p>
<ul>
	@foreach (var genre in Model)
 {
<!--
	<li><a href="/Store/Browse?genre=@genre.Name">@genre.Name</a></li>
	<li>@Html.ActionLink(string.Format("Go to the {0} genre", @genre.Name), "Browse", new { genre = genre.Name })</li>
-->
	 <li>@Html.ActionLink(@genre.Name, "Browse", new { genre = genre.Name })</li>
 }
</ul>
