﻿@model MVC3_02.Models.Episode

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Episode</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">PublishedAt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublishedAt)
    </div>

    <div class="display-label">Summary</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Summary)
    </div>

    <div class="display-label">LeadImage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LeadImage)
    </div>

    <div class="display-label">ShortUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShortUrl)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
