﻿@model MVC3_02.Models.Episode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Episode</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">PublishedAt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublishedAt)
    </div>

    <div class="display-label">Summary</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Summary)
    </div>

    <div class="display-label">LeadImage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LeadImage)
    </div>

    <div class="display-label">ShortUrl</div>
    <div class="display-field">
        @Html.ActionLink(Model.ShortUrl, Model.ShortUrl)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
