﻿@model IEnumerable<MVC3_02.Models.Episode>

@{
    ViewBag.Title = "Episodes";
}

<h2>Episodes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            PublishedAt
        </th>
        <th>
            Summary
        </th>
        <th>
            LeadImage
        </th>
        <th>
            ShortUrl
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeadImage)
        </td>
        <td>
            @Html.ActionLink(item.ShortUrl, item.ShortUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
