﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

HttpContext.IsCustomErrorEnabled :	@HttpContext.Current.IsCustomErrorEnabled<br />
HttpContext.IsDebuggingEnabled :	@HttpContext.Current.IsDebuggingEnabled
<br />
<hr />
