﻿@{
	ViewBag.Title = "정보";
}

<h2>정보</h2>
<h2>Welcome and say @Razor_pluralsight.Views.Home.HomeResource.Greeting ASP.NET MVC</h2>
<pre>
web.config / system.web에 &lt;globalization culture="auto" uiculture="auto" /&gt; 추가
브라우저에서 언어를 추가한 뒤 우선 언어로 변경하여 refesh 한다.
<br />
10초간의 About OutputCache가 설정되어 있어서 10초 뒤 fresh 한다.
<br />
Model.Review.Rating의 Required 속성에 ErrorMessage를 Resource에서 구한 예가 있다.
</pre>
<p>
	 FirstName : @ViewBag.FirstName<br />
	 LastName : @ViewBag.LastName
</p>

@{
	var amount = 1000.0m;
	var then = new DateTime(2011, 6, 27);
}

<div>
	@amount.ToString("c")
</div>
<div>
	@then.ToShortDateString()
</div>