﻿@{
	ViewBag.Title = "홈 페이지";
}
<h2>@ViewBag.Message</h2>

<p>
Your logged in as @User.Identity.Name
</p>

<p>
	<a href="http://www.pluralsight-training.net/microsoft/courses/TableOfContents?courseName=aspdotnet-mvc3-intro&highlight=scott-allen_mvc3-building-intro!scott-allen_mvc3-building-data-ii!scott-allen_mvc3-building-ajax!scott-allen_mvc3-building-infrastructure!scott-allen_mvc3-building-tdd!scott-allen_mvc3-building-controllers!scott-allen_mvc3-building-views!scott-allen_mvc3-building-data-i!scott-allen_mvc3-building-security!scott-allen_mvc3-building-deploy#scott-allen_mvc3-building-intro"
		target="_blank">pluralsight 강좌</a>에 대한 연습 예제 입니다.
	<br />
	ASP.NET MVC에 대한 자세한 내용을 보려면 <a href="http://asp.net/mvc" title="ASP.NET MVC 웹 사이트">http://asp.net/mvc</a>를
	방문하십시오.
</p>
@Ajax.ActionLink("Click here to see the lastest review",
	"LastestReview", new AjaxOptions()
	{
		UpdateTargetId="lastestReview",
		InsertionMode = InsertionMode.Replace,
		HttpMethod = "GET",
		LoadingElementId = "progress",
	});
<div id="lastestReview">
</div>

@using (Ajax.BeginForm("Search", "Home", new AjaxOptions
{
	HttpMethod = "GET",
	InsertionMode = InsertionMode.Replace,
	UpdateTargetId = "searchResults"
}))
{
	<input type="text" name="q" data-autocomplete="@Url.Action("QuickSearch", "Home")" />
	<input type="submit" value="검색" />
}

<table id="searchResults">
</table>

<div id="progress">
	<img src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="loader" />
</div>
