﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="http://www.sqler.com/362738" target="_blank">http://www.sqler.com/362738 참고</a><br />
@Html.ActionLink("Episode", "Index", "Episode") <br />
@Html.ActionLink("MusicTrack", "Index", "MusicTrack") <br />