﻿@model MVC3_02.Models.MusicTrack

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MusicTrack</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Url</div>
    <div class="display-field">
        @Html.ActionLink(Model.Url, Model.Url)
    </div>

    <div class="display-label">Episode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Episode.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
