﻿@model IEnumerable<MVC3_02.Models.MusicTrack>

@{
    ViewBag.Title = "Music Tracks";
}

<h2>Music Tracks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Url
        </th>
        <th>
            Episode
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href="@item.Url" target="_blank">@item.Url</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Episode.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
