﻿@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>오류</title>
</head>
<body>
	<h1>
		불편을 드려 죄송합니다. 빠른 시일내에 해결하겠습니다.</h1>
	<p>
		이 페이지에서 오류가 발생했습니다.<br />
		Page : <em>@Request["source"]</em><br />
		Message : @Request["message"]
	</p>
</body>
</html>