﻿@model ICollection<MySqlEFMembershipProviderTest.Models.ExternalLogin>

@if (Model.Count > 0)
{
    <h3>등록된 외부 로그인</h3>
    <table>
        <tbody>
        @foreach (MySqlEFMembershipProviderTest.Models.ExternalLogin externalLogin in Model)
        {
            <tr>
                <td>@externalLogin.ProviderDisplayName</td>
                <td>
                    @if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.BeginForm("Disassociate", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <input type="submit" value="제거" title="계정에서 이 @externalLogin.ProviderDisplayName 자격 증명 제거" />
                            </fieldset>
                        }
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
