﻿@model MySqlEFMembershipProviderTest.Models.LocalPasswordModel

<p>
    이 사이트에 대한 로컬 암호가 없습니다. 외부 로그인 없이
    로그인할 수 있도록 로컬 암호를 추가하십시오.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>암호 설정 양식</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="암호 설정" />
    </fieldset>
}
