﻿@model Razor_EFCodeFirst.Models.Review

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
	<legend>Review</legend>

	<div class="display-label">@Html.LabelFor(model => model.Subject)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Subject.Title)
	</div>

	<div class="display-label">@Html.LabelFor(model => model.Comment)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Comment)
	</div>
</fieldset>
<p>
	@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
