﻿@model IEnumerable<Razor_EFCodeFirst.Models.Review>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table>
	<tr>
		<th>
			@Html.LabelFor(model => model.First().Subject)
		</th>
		<th>
			@Html.LabelFor(model => model.First().Comment)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Subject.Title)
		</td>
		<td>
			@Html.ActionLink(item.Comment, "Details", new { id=item.Id })
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
			@Html.ActionLink("Delete", "Delete", new { id=item.Id })
		</td>
	</tr>
}

</table>
