﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
    <script src="http://code.jquery.com/jquery-1.5.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>    
</head>

<body>   
 @RenderBody()   
</body>
</html>