﻿@{
    Layout = "";
}
@model Nop.Plugin.Sms.Clickatell.Models.SmsClickatellModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle" colspan="2">
                To receive an SMS notification when an order is placed from your store you need
                to follow a few simple steps, which are shown below:
                <ul>
                    <li><a href="http://www.clickatell.com" target='_blank'>Register for a Clickatell account
                        here</a></li>
                    <li>Clickatell works with all countries and includes 10 free messages so you can test
                        SMS notifications</li>
                    <li>Fill in the form below with your Clickatell account details, including the number
                        you want the notification messages to be sent to</li>
                    <li>Click 'Save' button</li>
                    <li>Now when you receive a new order, an SMS text message will be sent to the number
                        you enter below automatically</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PhoneNumber):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ApiId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ApiId)
                @Html.ValidationMessageFor(model => model.ApiId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Username):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Password):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <button type="submit" name="save" value="save" class="t-button">
                    Save</button>
            </td>
        </tr>
        <tr class="adminSeparator">
            <td colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    <strong>Send test message<strong>
                </p>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.TestMessage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.TestMessage)
                @Html.ValidationMessageFor(model => model.TestMessage)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <button type="submit" name="test-sms" value="test-sms" class="t-button">
                    Send</button>
            </td>
        </tr>
        @if (!String.IsNullOrEmpty(Model.TestSmsResult))
        {
            <tr>
                <td colspan="2" width="100%" style="color: red">
                    @Model.TestSmsResult
                </td>
            </tr>
        }
    </table>
    
    
}