﻿<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("/Content/Site.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
<body>
	<div id="header">
		<h1><a href="@Url.Content("~")">ASP.NET MVC Music Store</a></h1>
		<div id="logindisplay">
			@Html.Partial("_LogOnPartial")
		</div>

		<ul id="navlist">
			<li class="first"><a href="@Url.Content("~")" id="current">Home</a></li>
			<li><a href="@Url.Content("~/StoreManager/")">Store Manager</a></li>
			<li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
			<li><a href="@Url.Content("~/Store/")">Store</a></li>
			<li><a href="@Url.Content("~/LogOn/")">LogOn</a></li>
		</ul>
	</div>

	@{Html.RenderAction("GenreMenu", "Store");}

	<div id="main">
		@RenderBody()
	</div>

	<div id="footer">
		build with <a href="http://asp.net/mvc">ASP.NET MVC 3</a>
	</div>
</body>
</html>
