﻿@model Nop.Web.Models.Checkout.CheckoutCompletedModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.Common
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="checkout-page">
    @Html.Partial("~/Views/Checkout/CheckoutProgress.cshtml", new CheckoutProgressModel() { CheckoutProgressStep = CheckoutProgressStep.Complete }, new ViewDataDictionary())
    <div class="clear">
    </div>
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="checkout-data">
        <div class="order-completed">
            <div class="body">
                <b>
                    @T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</b>
                <p>
                    @T("Checkout.OrderNumber"): @Model.OrderId
                </p>
                <p>
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = @Model.OrderId})">@T("Checkout.PlacedOrderDetails")</a>
                </p>
            </div>
            <div class="clear">
            </div>
            <div class="select-button">
                <input type="submit" name="nextstep" value="@T("Checkout.Continue")" id="nextstep" class="orderprocessedcontinuebutton" onclick="setLocation('@Url.Action("index", "home")')" />
            </div>
        </div>
    </div>
</div>
