﻿<!DOCTYPE html>
<html>
<head>
	<title>섹션이 존재하는 컨텐트 파일입니다.</title>
	<link href="@Href("Styles/Site.css")" rel="Stylesheet"/>
</head>
<body>
	<div id="header">
		@RenderSection("header", false)
	</div>
	@if (IsSectionDefined("list") == true)
 {
		@RenderSection("list")
 }

	<div id="main">
		@RenderBody()
	</div>
	<div id="footer">
		@RenderPage("_footer.cshtml")		
	</div>
</body>
</html>
