﻿<!DOCTYPE html>
<html>
<head>
	<title>@PageData["Title"]</title>
	<link href="@Href("Styles/Site.css")" rel="Stylesheet" />
</head>
<body>
	<header>
		@RenderSection("header")
	</header>
	@if (PageData["ShowList"] == true)
 {
		<div id="list">
			@RenderPage("/Reuse/_list.cshtml")
		</div> 
 }
	<div id="main">
		@RenderBody()
	</div>
	<div id="footer">
		@RenderPage("_footer.cshtml")
	</div>
</body>
</html>
