﻿<!DOCTYPE html>

<html>
<head>
	<title>레이아웃 컨텐츠를 만든다.</title>
	<link href="@Href("Styles/Site.css")" rel="Stylesheet" />
</head>
<body>
	@RenderPage("_header2.cshtml")

	<div id="main">
		@RenderBody()
	</div>
	<div id="footer">
		@RenderPage("_footer.cshtml")
	</div>
</body>
</html>
