﻿@{
	Layout = "_layout1.cshtml";
}
<hgroup>
	<h1>
		구조화된 컨텐트</h1>
</hgroup>
<p>
	택시기사가 나를 보통 녀석이 아닌데?라고 생각하게 만드는 방법 (1/3)
	<br />
	1 왼쪽 문을 열고 타자마자 오른쪽 문을 열고 내린다.
	<br />
	4 요금이 오를 때마다 비명을 지른다.
	<br />
	7 어느새 내가 운전한다.
	<br />
	18 U턴 해서 반대 차선에 내려 주세요.
	<br />
	21 택시에 타자마자 페브리즈를 마구 뿌린다.
	<br />
	28 재개발 지구나 새 건물이 들어 선 거리를 지날 때 한숨을 쉬며 「하나도 안 변했네··· 여기」라고 중얼거린다.
	<br />
	<br />
	번역 : 행복한 마조히스트(sweetpjy.tistory.com)<br />
</p>
