﻿@{
	Layout = "_layout3.cshtml";
	
	PageData["Title"] = "Layout을 통한 데이터 전달";
	PageData["ShowList"] = true;

	if (IsPost == true)
	{
		if (Request["list"] == "off")
		{
			PageData["ShowList"] = false;
		}
	}		
}
@section header
{
	<div id="header">
		레이아웃 페이지 만들기
	</div>
}
<h1>@PageData["Title"]</h1>
<p>
	택시기사가 나를 보통 녀석이 아닌데?라고 생각하게 만드는 방법 (3/3)
	<br />
	106 룸미러 너머로 운전기사의 얼굴을 심각하게 응시.
	<br />
	135 혼자 탄 다음에 아무도 없는 조수석 쪽에 계속 말을 건다.
	<br />
	144 조수석 앞에 붙은 기사증을 소리 내서 읽는다.
	<br />
	157 경찰차가 지나가면 몸을 숙인다. 161 준비한 애니메이션 CD를 카오디오에 넣고 튼다.
	<br />
	172 뒷자석으로 타서 조수석으로 옮겨 앉는다.
	<br />
	223 타자마자 ｢트렁크가 열려있는데요? ｣ 한다. 운전기사가 확인하러 간 사이에 운전석에 앉는다. 그대로 출발.
	<br />
	<br />
	번역 : 행복한 마조히스트(sweetpjy.tistory.com)
</p>
@if (PageData["ShowList"] == true)
{
	<form method="post" action="">
		<input type="hidden" name="list" value="off" />
		<input type="submit" value="Hide List" />
	</form>
}
else
{
	<form method="post" action="">
		<input type="hidden" name="list" value="on" />
		<input type="submit" value="Show List" />
	</form>
}
<br />
