﻿@{
	Layout = "_layout2.cshtml";
}
@section list
{
	<div id="list">
		<ul>
			<li>김대우</li>
			<li>박중석</li>
			<li>황리건</li>
			<li>조성우</li>
			<li>김영욱</li>
			<li>김재우</li>
			<li>서진호</li>
		</ul>
	</div>
}
@section header
{
	<header>
		레이아웃 페이지 제작의 header
	</header>
}
<hgroup>
	<h1>
		여러개의 섹션이 있는 컨텐트</h1>
	<p>
		택시기사가 나를 보통 녀석이 아닌데?라고 생각하게 만드는 방법 (2/3)
		<br />
		39 내릴 때 레드 카펫을 깐다.
		<br />
		45 비 내리는 밤에 택시를 타고 「저기, 요즘에 이 근처에서 뭐가 나온다는 소문이 돌잖아요~」
		<br />
		49 ｢오늘은 여기에 한 번 둬 볼까……… ｣ 라고 말하며 계기판 위에 물이 든 종이컵을 내려놓는다.
		<br />
		59 행선지를 물어보면「몰라요···！！」하고 운다.
		<br />
		70 들고 있던 비상등을 차 위에 올리고「빨리 갑시다, 신호는 무시하세요!」
		<br />
		95 차멀미가 심하니까 잘 부탁드려요. 이러면 운전을 정말 조심스럽게 해준다.
		<br />
		99 타자마자 「교통 불편 신고 엽서」를 집어 든다.
		<br />
		104 땀을 뻘뻘 흘리면서 항문을 손으로 틀어막고 조심조심 탄다.
		<br />
		<br />
		번역 : 행복한 마조히스트(sweetpjy.tistory.com)
	</p>
</hgroup>