﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	
	ViewBag.Title = "재사용 가능한 코드 블럭 - Helper 이용";
}
<p>
	HTML 영역 등을 함수 형태로 불러와 재사용하는 방법</p>
@MyHelpers.MakeNote("참조 링크입니다. http://xyz37.blog.me 도움이 되시길...")
<p>
	다른 본문 HTML 영역 어쩌구 저쩌구</p>
<a href="/Reuse/Content1.cshtml">Layout에 의해 구조화된 컨텐트</a><br />
<a href="/Reuse/Content2.cshtml">여러개의 섹션이 있는 컨텐트</a><br />
<a href="/Reuse/Content3.cshtml">Layout을 통한 데이터 전달</a><br />
