﻿<hr />
현재시간 : @DateTime.Now<br />

@Gravatar.GetHtml("xyz37@naver.com")
@Gravatar.GetHtml("xyz3710@gmail.com")
@Facebook.LikeButton("http://xyz37.blog.me")
@*
@Twitter.FollowButton("xyz37")
<div id="facebook">
	@Facebook.ActivityFeed("http://www.facebook.com/#!/xyz37")
</div>
<div id="twitter">
	@Twitter.Profile("xyz37")
</div>
*@