﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

	<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>

	<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>

</head>
<body>
	<header>
		@if (IsSectionDefined("header") == true)
		{
			@RenderSection("header", false);
		}
		else
		{
			@RenderPage("_Header.cshtml");
		}
	</header>
	@RenderBody()
	<footer>
		@if (IsSectionDefined("footer") == true)
		{
			@RenderSection("footer", false);
		}
		else
		{
			@RenderPage("_Footer.cshtml");
		}
	</footer>
</body>
</html>
