﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<!-- 모바일용 Viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=yes, target-densitydpi=medium-dpi" />
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

	<script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript">
	<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
	@*
		// 로컬 파일 참조는 하위 View에서 jQuery 선언 대신 $로 하면 다시 참조를 해야 된다.</script>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	*@
</head>

<body>
	@Html.Partial("_HeaderMenuPartial")

	@RenderBody()

	
<script type="text/javascript">
	$(function ($) {
		// Faced Tab Navigation
		var tabFace = $('div.tab.face');
		var tabFaceD1 = tabFace.find('>ul>li');
		var tabFaceD2 = tabFaceD1.find('>ul>li');

		tabFace.removeClass('jx');
		tabFaceD1.find('>ul').hide();
		tabFaceD1.find('>ul>li[class=active]').parents('li').attr('class', 'active');
		tabFace.find('>ul>li[class=active]').find('>ul').show();

		function faceTabMenuToggle(event) {
			var t = $(this);
			tabFaceD1.find('>ul').hide();
			t.next('ul').show();
			tabFaceD1.removeClass('active');
			t.parent('li').addClass('active');

			return false;
		}

		function faceTabSubMenuActive() {
			tabFaceD2.removeClass('active');
			$(this).parent(tabFaceD2).addClass('active');

			return false;
		};

		tabFaceD1.find('>a[href=#]').click(faceTabMenuToggle).focus(faceTabMenuToggle);
		tabFaceD2.find('>a[href=#]').click(faceTabSubMenuActive).focus(faceTabSubMenuActive);


		// rotate faced tab navigation
		var maxMenus = 4; // 총 4개의 메뉴만 보이도록 한다.
		// TODO: javascript 변수를 jQuery selector에서 사용 하는 방법을 구한 뒤
		// 화면 크기에 따라서 / 76을 하여 개수를 계산한다.
		//$('.tab.face li a span').css('width', '74px');		// 첫번째 메뉴의 폭을 조절

		// 표시가능 메뉴 이하의 메뉴는 감춘다.
		$('div.tab.face>ul>li:gt(3)').hide();

		// 모든 li를 감추고 제한된 li만 표시한다.
		function displayLimitedMenus() {
			$('div.tab.face>ul>li').hide();
			$('div.tab.face>ul>li:lt(4)').show();
		}

		// Prev를 누르면
		$('#prev_navi').click(function () {
			// 마지막 li를 첫번째로 옮기고
			$('div.tab.face>ul>li:last').prependTo('div.tab.face>ul');
			$('div.tab.face>ul>li:last').prependTo('div.tab.face>ul'); 	// 2개의 항목을 이동한다.
			displayLimitedMenus();
		});

		// Next를 누르면
		$('#next_navi').click(function () {
			// 첫번째 li를 마지막으로 옮기고
			$('div.tab.face>ul>li:first').appendTo('div.tab.face>ul');
			$('div.tab.face>ul>li:first').appendTo('div.tab.face>ul'); 		// 2개의 항목을 이동한다.
			displayLimitedMenus();
		});
	});
</script>


</body>
</html>
