﻿@{
	ViewBag.Title = "FileAppend";
}

<h2>FileAppend</h2>
<form id="form1" method="post" action="/Home/FileAppendAction">
	<div id="table">
		<table>
			<tr>
				<td>
					이름 :
				</td>
				<td>
					<input id="FirstName" name="FirstName" type="text" autofocus="true" />
				</td>
			</tr>
			<tr>
				<td>
					성 :
				</td>
				<td>
					<input id="LastName" name="LastName" type="text" />
				</td>
			</tr>
			<tr>
				<td>
					Email :
				</td>
				<td>
					<input id="Email" name="Email" type="email" placeholder="이메일을 넣어주세요" autocomplete="true"
						required="true" />
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input type="submit" value="Submit" />
				</td>
			</tr>
		</table>
	</div>
	<div id="result">
		@if (ViewBag.Result != string.Empty)
  {
			<p>
				결과 : @ViewBag.Result</p>
  }
	</div>
</form>
