﻿@{
	ViewBag.Title = "FileUpload2";
	
  var message = "";
  if (IsPost) {
	  var fileName = "";
	  var fileSavePath = "";
	  int numFiles = Request.Files.Count;
	  int uploadedCount = 0;
	  string workRootPath = Path.Combine(Request.PhysicalApplicationPath, "WorkData");
	  
	  for (int i =0; i < numFiles; i++)
	  {
		  var uploadedFile = Request.Files[i];
		  if (uploadedFile.ContentLength > 0) {
			  fileName = Path.GetFileName(uploadedFile.FileName);
			  fileSavePath = Path.Combine(workRootPath, fileName);
			  
			  uploadedFile.SaveAs(fileSavePath);
			  uploadedCount++;
		  }
	   }
	   message = "File upload complete. Total files uploaded: " + uploadedCount.ToString();
   }
}

@if (IsPost == false)
{
	@FileUpload.GetHtml(
		name: "",
		initialNumberOfFiles: 2,
		allowMoreFilesToBeAdded: true,
		includeFormTag: true,
		addText: "업로드 파일 추가",
		uploadText: "업로드")
}
@if (IsPost) {
	<span>@message</span>
}

<p>	
	<a href="http://msdn.microsoft.com/en-us/library/microsoft.web.helpers.fileupload.gethtml(v=vs.99).aspx" target="_blank">FileUpload.GetHtml Method MSDN</a>
	<br />
	<a href="http://www.mikepope.com/blog/documents/WebHelpersAPI.html" target="_blank">ASP.NET Razor Helpers API Reference</a>
</p>
