﻿@model string[]
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Razor file handling";
}
<ul>
	<li>@Html.ActionLink("File write", "FileWrite")</li>
	<li>@Html.ActionLink("File append", "FileAppend")</li>
	<li>@Html.ActionLink("File read", "FileRead")</li>
	<li>@Html.ActionLink("Upload", "Upload")</li>
	<li>@Html.ActionLink("File upload2 page", "FileUpload2")</li>
	<li>@Html.ActionLink("File upload sample page", "FileUploadSample")</li>
</ul>
<p>
	<em>동일 View에서 Controller/Action 호출 형태로는 upload가 안된다.</em>
</p>
@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post))
{
	// if (IsPost == false)
	{
	@Microsoft.Web.Helpers.FileUpload.GetHtml(
		initialNumberOfFiles: 1,
		allowMoreFilesToBeAdded: true,
		includeFormTag: true,
		addText: "업로드 파일 추가",
		uploadText: "업로드");
	}
}
<span>@ViewBag.UploadMessage</span>
<hr style="height: 10px; background: Orange;" />
<h3>
	List of [@ViewBag.WorkRootPath]</h3>
@if (Model != null)
{
	<ol>
		@foreach (var file in Model)
  {
			<li><span>@Html.ActionLink("삭제", "FileDelete", new
			{
				filePath = file
			})
			</span>: @file
			</li>
  }
	</ol>
}
