﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link href="../../Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link href="../../Content/jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>

	<script src="../../Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
	<script src="../../Scripts/trirand/i18n/grid.locale-ko.js" type="text/javascript"></script>
	<script src="../../Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>

</head>
<body>
	<div class="page">
		<header>
			<div id="title">
				<h1>내 MVC 응용 프로그램</h1>
			</div>
			<div id="logindisplay">
				@Html.Partial("_LogOnPartial")
			</div>
			<nav>
				<ul id="menu">
					<li>@Html.ActionLink("홈", "Index", "Home")</li>
					<li>@Html.ActionLink("Book", "Index", "Book")</li>
					<li>@Html.ActionLink("Person", "Index", "Person")</li>
					<li>@Html.ActionLink("Review", "Index", "Review")</li>
				</ul>
			</nav>
		</header>
		<section id="main">
			@RenderBody()
		</section>
		<footer>
		</footer>
	</div>
</body>
</html>
