﻿@{
    Layout = "";
}
@model Nop.Plugin.Shipping.UPS.Models.UPSShippingModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Url):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.Url)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AccessKey):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AccessKey)
                @Html.ValidationMessageFor(model => model.AccessKey)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Username):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Password):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerClassification):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.CustomerClassification, Model.AvailableCustomerClassifications)
                @Html.ValidationMessageFor(model => model.CustomerClassification)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PickupType):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PickupType, Model.AvailablePickupTypes)
                @Html.ValidationMessageFor(model => model.PickupType)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PackagingType):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PackagingType, Model.AvailablePackagingTypes)
                @Html.ValidationMessageFor(model => model.PackagingType)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalHandlingCharge):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalHandlingCharge)
                @Html.ValidationMessageFor(model => model.AdditionalHandlingCharge)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DefaultShippedFromCountryId):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.DefaultShippedFromCountryId, Model.AvailableCountries)
                @Html.ValidationMessageFor(model => model.DefaultShippedFromCountryId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DefaultShippedFromZipPostalCode):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DefaultShippedFromZipPostalCode)
                @Html.ValidationMessageFor(model => model.DefaultShippedFromZipPostalCode)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Carrier Services:
            <br />
            -select the services you want to offer to customers.
            </td>
            <td class="adminData">
                <div style="height: 250px; width: 300px; overflow: auto; border: solid 1px #bbb;">
                    @foreach (var csd in Model.AvailableCarrierServices)
                    {
                        <input type="checkbox" name="CheckedCarrierServices" value="@(csd)" @(Model.CarrierServicesOffered.Contains(csd) ? " checked=\"checked\"" : null) <text> /></text>
                        <label>@csd</label>
                        <br />
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <button type="submit" name="save" value="save" class="t-button">
                    Save</button>
            </td>
        </tr>
    </table>    
}