﻿@{
	ViewBag.Title = "워터마크 이미지 처리";

	var imagePath = "~/WebImage/photo.jpg";
	WebImage photo = new WebImage(imagePath);
		 
	if (photo != null)
	{
		photo.AddTextWatermark("우리 아들 영재", fontColor: "Yellow", fontFamily: "Arial");
		photo.Save(imagePath);			
	}
}

<h1>이미지에 워터마크 텍스트를 추가합니다.</h1>

@if (imagePath != "")
{
	<div class="result">
		<img src="@imagePath" alt="이미지" />
	</div>
}

@ObjectInfo.Print(imagePath)
@ServerInfo.GetHtml()
