﻿@{
	ViewBag.Title = "G 메일 SMTP 테스트";

	try
	{
		// Mail Helper 사용
		WebMail.SmtpServer = "smtp.gmail.com";
		WebMail.SmtpPort = 587;		// Live 메일과 Gmail 모두 587 Gmail은 공식 문서에 SSL은 465 인데 587도 됨
		WebMail.EnableSsl = true;
		WebMail.UserName = "xyz3710@gmail.com";
		WebMail.From = "xyz3710@gmail.com";
		WebMail.Password = "yellow37";

		WebMail.Send(
			to: "xyz3710@gmail.com",
			subject: "G 메일 테스트 입니다.",
			body: "메일 본문"
		);
	<text> 
		<b>이메일 전송 성공</b><br />
		메일이 전달되었습니다.
	</text>
	}
	catch (Exception ex)
	{
	<text> 
		<b>이메일 전송 실패</b><br />
		 아마도 메일 관련 구성이 잘못된것 같습니다. 다시 확인해보세요.<br />
		오류메세지 :<br />
		@ex.ToString();
	</text>
	}
}
<h2>
	Gmail 메일 테스트</h2>
