﻿@{
	ViewBag.Title = "Helper";
}
<ul>
	<li>@Html.ActionLink("이미지 리사이징", "ResizeImage")</li>
	<li>@Html.ActionLink("워터마크 삽입", "AddTextWatermark")</li>
	<li>@Html.ActionLink("페이지 캐쉬", "WebCache")</li>
	<li>@Html.ActionLink("리 캡차", "Recaptcha")</li>
	<li>@Html.ActionLink("Live mail 테스트", "LiveMailTest")</li>
	<li>@Html.ActionLink("Gmail 테스트", "GMailTest")</li>
</ul>
