﻿@{
	ViewBag.Title = "Recaptcha";
	
	var showRecaptcha = true;
	
	if (IsPost == true)
	{
		if (ReCaptcha.Validate() == true)
		{
	@:통과! 사람이군요!!!
			showRecaptcha = false;			
		}
		else
		{
	@:너 봇이지?!!!
		}
	}
}

<h2>Recaptcha</h2>

@*
@using (Html.BeginForm("", "Home", FormMethod.Post))
{
*@
<form action="" method="post">
	@if (showRecaptcha == true)
	{
		if (ReCaptcha.PrivateKey != "")
		{
			<p>@ReCaptcha.GetHtml()</p>
		}
		else
		{
			<p>아마도 인증키가 틀리거나 오류가 있는거 같습니다. 다시 시도해보세요.</p>
		}
	}
	
	<div>
		<input type="submit" value="실행" />
	</div>
</form>
