﻿@using Razor_Helper.MyHelpers
@{
	ViewBag.Title = "ResizeImage";
	//string imagePath = ViewBag.ImagePath;
	//string imageThumbPath = ViewBag.ImageThumbPath;
	string newFileName = string.Empty;
	string imagePath = string.Empty;
	string imageThumbPath = string.Empty;
	string root = @"~/WebImage/";
	
	if (IsPost == true)
	{
		WebImage photo = WebImage.GetImageFromRequest();

		if (photo != null)
		{
			newFileName = string.Format("{0}_{1}", Guid.NewGuid().ToString(), Path.GetFileName(photo.FileName));
			imagePath = Path.Combine("images", newFileName);
			imageThumbPath = Path.Combine("images", "thumbs", newFileName);

			photo.Save(root + imagePath);
			photo.Resize(60, 60, true, true);
			photo.Save(root + imageThumbPath);
		}
	}
}
<h2>
	ResizeImage</h2>
<h2>
	썸네일 이미지 자동 추출</h2>
<form action="ResizeImage" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>썸네일 이미지 생성</legend>
		<label for="Image">
			이미지</label>
		<input type="file" name="Image" />
		<br />
		<input type="submit" value="전송" />
	</fieldset>

	@Html.AttributeEncode(root + imagePath)

	@if (imagePath != string.Empty)
 {
		<div class="result">
			@*<img src="@root@imageThumbPath" alt="썸네일 이미지" />*@
			@Html.Image(root + imageThumbPath, "썸네일 이미지")
			<a href="@Html.AttributeEncode(root + imagePath)" target="_self">실제 이미지 보기</a>
		</div>
 }
</form>
