﻿@{
	ViewBag.Title = "WebCache";

	var cacheItemKey = "time";
	var cacheHit = true;
	var time = WebCache.Get(cacheItemKey);
	
	if (time == null)
	{
		cacheHit = false;		
	}
	
	if (cacheHit == false)
	{
		time = DateTime.Now;
		WebCache.Set(cacheItemKey, time, 1, false);		// 1분 동안 캐쉬
	}
}

<h2>WebCache Helper 예제</h2>

<div>
	@if (cacheHit == true)
 {
	 @:캐쉬에서 정보를 찾았습니다.
 }
 else
 {
	 @:캐쉬에서 정보를 찾지 못했습니다.
 }
</div>

<div>
	이 페이지는 @time 에 캐쉬되었습니다.
</div>