﻿@model Razor_EFCodeFirst.Models.Person

@{
	ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>Person</legend>

		<div class="editor-label">
			@Html.LabelFor(model => model.SSN)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.SSN)
			@Html.ValidationMessageFor(model => model.SSN)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Age)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Age)
			@Html.ValidationMessageFor(model => model.Age)
		</div>

		<p>
			<input type="submit" value="Create" />
		</p>
	</fieldset>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
