﻿@model Razor_EFCodeFirst.Models.Person

@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
	<legend>Person</legend>

	<div class="display-label">
		@Html.LabelFor(model => model.Name)
	</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Name)
	</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Age)
	</div>
</fieldset>
@using (Html.BeginForm()) {
	<p>
		<input type="submit" value="Delete" /> |
		@Html.ActionLink("Back to List", "Index")
	</p>
}
