﻿@model IEnumerable<Razor_EFCodeFirst.Models.Person>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table>
	<tr>
		<th>
			@Html.LabelFor(model => model.First().SSN)
		</th>
		<th>
			@Html.LabelFor(model => model.First().Name)
		</th>
		<th>
			@Html.LabelFor(model => model.First().Age)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.SSN)
		</td>
		<td>
			@Html.ActionLink(item.Name, "Details", new { id=item.SSN })
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Age)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id=item.SSN }) |            
			@Html.ActionLink("Delete", "Delete", new { id=item.SSN })
		</td>
	</tr>
}

</table>
