﻿@model Razor_EFCodeFirst.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Book</legend>

    <div class="display-label">@Html.LabelFor(model => model.ISBN)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ISBN)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Title)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Author)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author.Name)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.BookType.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookType.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ISBN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
