﻿@model Razor_EFCodeFirst.Models.Book

@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
	@Html.ValidationSummary()
	<fieldset>
		<legend>Book</legend>

		@Html.HiddenFor(model => model.ISBN)

		<div class="editor-label">
			@Html.LabelFor(model => model.ISBN)
		</div>
		<div class="editor-field">
			@Html.DisplayFor(model => model.ISBN)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Title)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Title)
			@Html.ValidationMessageFor(model => model.Title)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.AuthorId)
		</div>
		<div class="editor-field">
			@Html.DropDownList("AuthorId", String.Empty)
			@Html.ValidationMessageFor(model => model.AuthorId)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.BookType)
		</div>
		<div class="editor-field">
			@Html.DropDownList("BookTypeId")
			@Html.ValidationMessageFor(model => model.BookType)
		</div>

		<p>
			<input type="submit" value="Save" />
		</p>
	</fieldset>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
