﻿@model PagedList.IPagedList<Razor_EFCodeFirst.Models.Book>

@{
	ViewBag.Title = "Index";
}

<h2>@Html.ActionLink("Index2 jqGrid로", "Index2")</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table>
	<tr>
		<th>
			@Html.LabelFor(model => model.First().ISBN)
		</th>
		<th>
			@Html.ActionLink("제목", "Index", new { sortColumn = ViewBag.TitleSortParam })
			
		</th>
		<th>
			@Html.ActionLink("저자", "Index", new { sortColumn = ViewBag.AuthorSortParam })
			@*@Html.LabelFor(model => model.First().Author)*@
		</th>
		<th>
			@Html.LabelFor(model => model.First().BookType)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.ISBN)
		</td>
		<td>
			@Html.ActionLink(item.Title, "Details", new { id=item.ISBN })
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Author.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.BookType.Name)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id=item.ISBN }) |            
			@Html.ActionLink("Delete", "Delete", new { id=item.ISBN })
		</td>
	</tr>
}

</table>

<div>
	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
	&nbsp;
	@if (Model.HasPreviousPage)
 {
	 @Html.ActionLink("<<", "Index", new { page = 1, sortOrder = ViewBag.CurrentSort })
	 @Html.Raw("&nbsp;")
	 @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort })
 }
 else
 {
	 @:<<
	 @Html.Raw("&nbsp;")
	 @:< Prev
 }
 &nbsp;

	@if (Model.HasNextPage)
 {
	 @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort })
	 @Html.Raw("&nbsp;")
	 @Html.ActionLink(">>", "Index", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort })
 }
 else
 {
	 @:Next >
	 @Html.Raw("&nbsp;")
	 @:>>
 }</div>
