﻿@model Razor_EFCodeFirst.Models.BookGridViewModel
@using Trirand.Web.Mvc

@*@model IEnumerable<Razor_EFCodeFirst.Models.Book>*@

@{
	ViewBag.Title = "Index";
}
@*
<link href="../../Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/i18n/grid.locale-ko.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>

<script type="text/javascript">
	$(function () {
		$("#list").jqGrid({
			url: '@Url.Action("GetBooks", "Book")',
			datatype: 'json',
			mtype: 'GET',
			colNames: ['ISBN', '제목', '저자', '책종류'],
			colModel: [
				   { name: 'ISBN', index: 'ISBN', width: 40, align: 'center' },
				   { name: 'Title', index: 'Title', width: 100, align: 'left' },
				   { name: 'Author', index: 'Author', width: 100, align: 'left' },
				   { name: 'BookType', index: 'BookType', width: 200, align: 'left' },
				   ],
			rowNum: 10,
			rowList: [10, 20, 30],
			pager: '#jqGridPager',
			sortname: 'Title',
			viewrecords: true,
			sortorder: "desc",
			caption: 'Book Index'
		});
	});

	jQuery("#list").jqGrid('navGrid', '#jqGridPager', { edit: false, add: false, del: false });
</script>  
*@

<h2>@Html.ActionLink("Index Table로", "Index")</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

@Html.Trirand().JQGrid(Model.BookGrid, "jqgBook")

@*
<table>
	<tr>
		<th>
			@Html.LabelFor(model => model.First().ISBN)
		</th>
		<th>
			@Html.LabelFor(model => model.First().Title)
		</th>
		<th>
			@Html.LabelFor(model => model.First().Author)
		</th>
		<th>
			@Html.LabelFor(model => model.First().BookType)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.ISBN)
		</td>
		<td>
			@Html.ActionLink(item.Title, "Details", new { id=item.ISBN })
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Author.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.BookType.Name)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id=item.ISBN }) |            
			@Html.ActionLink("Delete", "Delete", new { id=item.ISBN })
		</td>
	</tr>
}

</table>
*@