﻿@{
	ViewBag.Title = "iScrollCarousel";
}
@if (false)
{
	<script src="../../Scripts/jquery-1.6.2.js" type="text/javascript"></script>
}

<script type="text/javascript">
	var bodyWidth = $('body').width();
	var bodyHeight = $('body').height() - 44 - 44 - 80;

	$(function () {
		//alert(bodyWidth + ', ' + bodyHeight);

		var scroller1 = initiScrollCarousel('carouselPages1', 'indicator1', bodyWidth, bodyHeight, { pageBackgroundColor: 'red' });
		//var scroller2 = initiScrollCarousel('carouselPages2', 'indicator2', 310, 200);
	});
</script>

<!-- 현재 jQuereyMobile beta2 버전에서는 data-role=page 를 삽입하면 작동하지 않는다.
<div id="page1" data-role="page">
-->

<div data-role="header">
	<a href="#" data-role="button" data-icon="back" title="뒤로" data-rel="back"></a>
	<h1>jQueryMobile에서 회전목마(carousel) 구현</h1>
	<a href="/" data-role="button" data-icon="home" title="처음으로"></a>
</div>

<div data-role="content">

	<div>
		내용도 나오고 스크롤도 돼고</div>

	<div id="carouselPages1">

		<div id="scroller">
			<ul>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/001.jpg")" class="scrollContent" alt="001"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/002.jpg")" class="scrollContent" alt="002"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/003.jpg")" class="scrollContent" alt="003"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/004.jpg")" class="scrollContent" alt="004"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/005.jpg")" class="scrollContent" alt="005"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/006.jpg")" class="scrollContent" alt="006"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/007.jpg")" class="scrollContent" alt="007"></div>

				</li>
			</ul>
		</div>

	</div>

	<div>
		<ul id="indicator1">
			<li class="active">

				<div>
					1</div>

			</li>
			<li>

				<div>
					2</div>

			</li>
			<li>

				<div>
					3</div>

			</li>
			<li>

				<div>
					4</div>

			</li>
			<li>

				<div>
					5</div>

			</li>
			<li>

				<div>
					6</div>

			</li>
			<li>

				<div>
					7</div>

			</li>
		</ul>
	</div>

</div>

<div data-role="footer" data-position="fixed" data-fullscreen="true">
	<h3>jQuery Mobile이랑은 잘 안되네</h3>
</div>

<!--
<div data-role="page" id="page2">
	<div id="carouselPages2">
		<div id="scroller">
			<ul>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/001.jpg")" class="scrollContent" alt="001"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/002.jpg")" class="scrollContent" alt="002"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/003.jpg")" class="scrollContent" alt="003"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/004.jpg")" class="scrollContent" alt="004"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/005.jpg")" class="scrollContent" alt="005"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/006.jpg")" class="scrollContent" alt="006"></div>

				</li>
				<li>

					<div>
						<img src="@Url.Content("~/Content/Carousel/full/007.jpg")" class="scrollContent" alt="007"></div>

				</li>
			</ul>
		</div>
	</div>

	<div>
		<ul id="indicator2">
			<li class="active"><div>1</div></li>
			<li><div>2</div></li>
			<li><div>3</div></li>
			<li><div>4</div></li>
			<li><div>5</div></li>
			<li><div>6</div></li>
			<li><div>7</div></li>
			<li><div>8</div></li>
			<li><div>9</div></li>
			<li><div>10</div></li>
		</ul>
	</div>

-->
