﻿@{
	ViewBag.Title = "CarouselWithvScroll";
}

<!--
<style type="text/css" media="all">

#verticalScrollerWrapper
{
	width: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 44px; /* jQueryMobile을 사용할 경우 header의 높이 */
	bottom: 0; /* 여백을 줄경우 아래 부분이 잘린다. */
	left: 0;
	z-index: 1;
	overflow: auto;
	background: #f0f0f0;
}

#vScroller
{
	width: 100%;
	height: 840px;
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 1; /*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background: #f0f0f0;
}

#description
{
	width: 100%;
	height: 356px; /* vScroller.height - carousel.height - 40(carousel_indicator.height) - 44(header) */
	background: #f0f0f0;
}
</style>
-->

<script type="text/javascript">
	var width = $('body').width();
	var height = $('body').height();
	var hScroller;
	var carousel;
	var carouselWidth = width;
	var carouselHeight = 400;

	function loaded() {
		// 세로 스크롤
		hScroller = new iScroll('verticalScrollerWrapper');
	}

	document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
	//document.addEventListener('DOMContentLoaded', setTimeout(function () { loaded(); }, 200), false);
	document.addEventListener('DOMContentLoaded', loaded, false);
	//window.addEventListener('load', setTimeout(function () { loaded(); }, 200), false);

	$(function () {
		var vsBackgroundColor = '#f0f0f0';
		var verticalScrollerWrapper = $('#verticalScrollerWrapper');
		var vScroller = verticalScrollerWrapper.find('#vScroller');
		var description = vScroller.find('#description');
		var vHeight = height * 2;

		verticalScrollerWrapper.css('background', vsBackgroundColor)
			.css({
				'width' : '100%',
				'position' : 'absolute',
				'margin' : '0',
				'padding' : '0',
				'top' : '44px', /* jQueryMobile을 사용할 경우 header의 높이 */
				'bottom' : '0', /* 여백을 줄경우 아래 부분이 잘린다. */
				'left' : '0',
				'z-index' : '1',
				'overflow' : 'auto',
			});
		vScroller.css('background', vsBackgroundColor)
			.css('height', vHeight)
			.css({
				'width' : '100%',
				'position' : 'absolute',
				'margin' : '0',
				'padding' : '0',
				'z-index' : '1', /*	-webkit-touch-callout: none */
				'-webkit-tap-highlight-color' : 'rgba(0,0,0,0)'
			});

		var descHeight = vHeight - carouselHeight - 40 - 44 - 44;

		description.css('background', vsBackgroundColor)
			.css('height', descHeight) /* vScroller.height - carousel.height - 40(carousel_indicator.height) - 44(header) */
			.css('width', '100%');

		// Carousel
		carousel = initiScrollCarousel('carouselPages1', 'indicator1', carouselWidth, carouselHeight);
	});
</script>

<!-- 현재 jQuereyMobile beta2 버전에서는 data-role=page 를 삽입하면 작동하지 않는다.
<div id="page1" data-role="page">
-->

	<div data-role="header">
		<a href="#" data-role="button" data-icon="back" title="뒤로" data-rel="back"></a>
		<h1>세로 스크롤과 가로 스크롤(회전목마:Carousel)이 모두 됩니다.</h1>
		<a href="/" data-role="button" data-icon="home" title="처음으로"></a>
	</div>

	<div id="verticalScrollerWrapper">
		<div id="vScroller">

			<div data-role="content">
				<div id="description">
					<h3>스크롤과 같이 되나?</h3>
					<div>내용도 나오고 스크롤도 돼고</div>
				</div>

				<div id="carouselPages1">
					<div id="scroller">
						<ul>
							<li><div><img src="@Url.Content("~/Content/Carousel/full/001.jpg")" class="scrollContent" alt="001"></div></li>
							<li><div><img src="@Url.Content("~/Content/Carousel/full/002.jpg")" class="scrollContent" alt="002"></div></li>
							<li><div><img src="@Url.Content("~/Content/Carousel/full/003.jpg")" class="scrollContent" alt="003"></div></li>
							<li><div><img src="@Url.Content("~/Content/Carousel/full/004.jpg")" class="scrollContent" alt="004"></div></li>
							<li><div><img src="@Url.Content("~/Content/Carousel/full/005.jpg")" class="scrollContent" alt="005"></div></li>
							<li><div><img src="@Url.Content("~/Content/Carousel/full/006.jpg")" class="scrollContent" alt="006"></div></li>
							<li><div><img src="@Url.Content("~/Content/Carousel/full/007.jpg")" class="scrollContent" alt="007"></div></li>
						</ul>
					</div>
				</div>

				<div>
					<ul id="indicator1">
						<li class="active"><div>1</div></li>
						<li><div>2</div></li>
						<li><div>3</div></li>
						<li><div>4</div></li>
						<li><div>5</div></li>
						<li><div>6</div></li>
						<li><div>7</div></li>
					</ul>
				</div>
			</div>

		</div>
<!--
	<div data-role="footer" data-position="fixed" data-fullscreen="true">
		꼬리말 고정 기능은 안된다.
	</div>
-->
</div>