﻿@{
	ViewBag.Title = "Carousel";
	
	int width = 128;
	int height = 270;
}
@if (false)
{
@* jQuery Intellisense가 나오도록 위한 조치*@
	<script src="../../Scripts/jquery-1.6.2.js" type="text/javascript"></script>
}

<!-- http://jsfiddle.net/xKWpz/114/ 에서는 잘됨 -->

<div data-role="content">

	<div id="dvWrapper">
		<ul id="wrapper">
			<li>

				<div style="height: 100%; width: 100%;">

					<div style="width: 130px; height: 280px; margin-left: auto; margin-right: auto;">
						<img width="@width" height="@height" src="@Url.Content("~/Content/Carousel/full/001.jpg")" alt="Some Text1" />
					</div>

					<div style="text-align: center;">
						Blah Blah Blah
					</div>

				</div>

			</li>
			<li>

				<div style="height: 100%; width: 100%;">

					<div style="width: 130px; height: 280px; margin-left: auto; margin-right: auto;">
						<img width="@width" height="@height" src="@Url.Content("~/Content/Carousel/full/002.jpg")" alt="some Text2" />
					</div>

					<div style="text-align: center;">
						Blah Blah Blah
					</div>

				</div>

			</li>
			<li>

				<div style="height: 100%; width: 100%;">

					<div style="width: 130px; height: 280px; margin-left: auto; margin-right: auto;">
						<img width="@width" height="@height" src="@Url.Content("~/Content/Carousel/full/003.jpg")" alt="Some Text3" />
					</div>

					<div style="text-align: center;">
						Blah Blah Blah
					</div>

				</div>

			</li>
		</ul>
	</div>

</div>

<script type="text/javascript">
	$(function () {
		var lPages = 0;
		var tPage = 1;
		var pWidth;

		function prepForm() {
			var dvW = $('#dvWrapper');

			//pWidth = dvW.parent().width();
			pWidth = dvW.width();

			var height = window.innerHeight;  //dvW.height();
			dvW.css({ 'position': "relative", 'overflow': "hidden", 'width': pWidth, 'height': height });

			var ulW = $('#wrapper');
			ulW.children().each(function (i) {
				$(this).css({ 'width': pWidth, 'height': height, 'float': 'left' });
				console.log("in each lPage: " + lPages);
				lPages++;
			});

			ulW.bind('swipeleft', swipeLeft).bind('swiperight', swipeRight);
			ulW.css({ 'position': "relative", 'padding': "0", 'margin': "0", 'listStyle': "none", 'width': lPages * pWidth });
		}

		function swipeLeft() {
			console.log("before left: " + tPage);

			if (tPage < lPages) {
				tPage++;
				console.log("after left: " + tPage);
				$('#wrapper').animate({ left: "-=" + pWidth }, 300);
			}
		}
		function swipeRight() {
			console.log("before right: " + tPage);
			if (tPage > 1) {
				tPage--;
				console.log("before right: " + tPage);
				$('#wrapper').animate({ left: "+=" + pWidth }, 300);
			}
		}

		prepForm();

	});
</script>

