﻿@{
	ViewBag.Title = "ComplexScroll(Carousel)-with photoSwipe";
}
@if (false)
{
@* jQuery Intellisense가 나오도록 위한 조치*@
	<script src="../../Scripts/jquery-1.6.2.js" type="text/javascript"></script>
}
<link href="@Url.Content("~/Content/Photoswipe/photoswipe.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Photoswipe/klass.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Photoswipe/code.photoswipe.jquery-2.0.3.js")" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function () {
		var options = {
		};

		$("#Gallery a").photoSwipe(options);
	});
</script>

<div data-role="page" id="page1">

	<div data-role="content">
		<ul class="gallery" id="Gallery">
			<li><a href="../../Content/Carousel/full/001.jpg" rel="external"><img src="../../Content/Carousel/thumb/001.jpg" alt="Image 001" /></a></li>
			<li><a href="../../Content/Carousel/full/002.jpg" rel="external"><img src="../../Content/Carousel/thumb/002.jpg" alt="Image 002" /></a></li>
			<li><a href="../../Content/Carousel/full/003.jpg" rel="external"><img src="../../Content/Carousel/thumb/003.jpg" alt="Image 003" /></a></li>
			<li><a href="../../Content/Carousel/full/004.jpg" rel="external"><img src="../../Content/Carousel/thumb/004.jpg" alt="Image 004" /></a></li>
		</ul>
	</div>

</div>

