﻿@{
	ViewBag.Title = "FormsAPI";
}
@if (false)
{
@* jQuery Intellisense가 나오도록 위한 조치*@
	<script src="../../Scripts/jquery-1.6.2.js" type="text/javascript"></script>
}

<div id="formApiPage" data-role="page">

	<div data-role="header">
		<h1>Form 및 엘리먼트</h1>
		<a href="@Url.Content("~/")" data-icon="home" title="Move home" data-theme="e" class="ui-btn-right">Home</a>
	</div>

	<a href="#" data-role="button" id="btnTest" data-icon="gear" title="" data-theme="b">Test</a>

	<div data-role="content">

		<div data-role="header">
			<h3>Form elements</h3>
		</div>

		<div data-role="fieldcontain">
			<label for="txtFirstName">First Name: </label>
			<input type="text" name="txtFirstName" id="txtFirstName" value="" />
		</div>

		<div data-role="fieldcontain">
			<label for="txtLastName">Last Name: </label>
			<input type="text" name="txtLastName" id="txtLastName" value="" />
		</div>

		<div data-role="fieldcontain">
			<label for="txtPhoneNo">Phone No: </label>
			<input type="tel" name="txtPhoneNo" id="txtPhoneNo" value="" />
		</div>

		<div data-role="fieldcontain">
			<label for="txtInputSlider">Input slider: </label>
			<input type="range" name="txtInputSlider" id="txtInputSlider" min="1" max="100" value="77" />
		</div>

		<div class="ui-btn">
			<select data-role="slider" id="toggle1">
				<option value="1">On</option>
				<option value="0">Off</option>
			</select>
		</div>

	</div>

	<div data-role="content">

		<div data-role="header">
			<h3>Radio button & Checkbox</h3>
		</div>

		<div data-role="fieldcontain">
			<fieldset data-role="controlgroup">
				<legend>CHoose a pet: </legend>
				<input type="radio" name="radioChoice1" id="radioChoice1" value="choice1" checked="checked" />
				<label for="radioChoice1">Cat</label>
				<input type="radio" name="radioChoice1" id="radioChoice2" value="choice2" />
				<label for="radioChoice2">Dog</label>
				<input type="radio" name="radioChoice1" id="radioChoice3" value="choice3" />
				<label for="radioChoice3">Hamster</label>
				<input type="radio" name="radioChoice1" id="radioChoice4" value="choice4" />
				<label for="radioChoice4">Lizard</label>
			</fieldset>
		</div>

		<div data-role="fieldcontain">
			<fieldset data-role="controlgroup" data-type="horizontal">
				<legend>CHoose a pet:(Horizontal) </legend>
				<input type="radio" name="radio1" id="radio1" value="r" />
				<label for="radio1">Cat</label>
				<input type="radio" name="radio1" id="radio2" value="r" checked="checked" />
				<label for="radio2">Dog</label>
				<input type="radio" name="radio1" id="radio3" value="r" />
				<label for="radio3">Hamster</label>
				<input type="radio" name="radio1" id="radio4" value="r" />
				<label for="radio4">Lizard</label>
			</fieldset>
		</div>

		<div data-role="fieldcontain">
			<fieldset data-role="controlgroup">
				<legend>CHoose a pet: </legend>
				<input type="checkbox" name="chkChoice1" id="chkChoice1" value="choice1" checked="checked" />
				<label for="chkChoice1">Cat</label>
				<input type="checkbox" name="chkChoice1" id="chkChoice2" value="choice2" />
				<label for="chkChoice2">Dog</label>
				<input type="checkbox" name="chkChoice1" id="chkChoice3" value="choice3" />
				<label for="chkChoice3">Hamster</label>
				<input type="checkbox" name="chkChoice1" id="chkChoice4" value="choice4" />
				<label for="chkChoice4">Lizard</label>
			</fieldset>
		</div>

		<div data-role="fieldcontain">
			<fieldset data-role="controlgroup" data-type="horizontal" id="checkHor">
				<legend>CHoose a pet:(Horizontal) </legend>
				<input type="checkbox" name="chk1" id="chk1" value="1" checked="checked" />
				<label for="chk1">Cat</label>
				<input type="checkbox" name="chk1" id="chk2" value="2" />
				<label for="chk2">Dog</label>
				<input type="checkbox" name="chk1" id="chk3" value="3" />
				<label for="chk3">Hamster</label>
				<input type="checkbox" name="chk1" id="chk4" value="4" checked="checked" />
				<label for="chk4">Lizard</label>
			</fieldset>
		</div>

	</div>

	<div data-role="header">
		Select
	</div>

	<div data-role="content">
		<!-- data-native-menu = false 속성이 들어가면 iPhone에서 wheel 선택바가 나타나지 않는다 -->
		<label for="wheel">Select Menu label</label>
		<select data-native-menu="false" id="wheel">
			<option title="title" data-placeholder="false">Select Menu</option>
			<option value="0">text1</option>
			<option value="1">text2</option>
			<option value="2">text3</option>
			<option value="3" disabled>text4</option>
			<option value="4">text5</option>
			<option value="5">text6</option>
			<option value="6">text7</option>
			<option value="7">text8</option>
			<option value="8">text9</option>
		</select>
	</div>

	<div data-role="content">
		<label for="wheel">Group select</label>
		<select data-native-menu="true" id="wheelGroup">
			<option value="title" data-placeholder="true">Group Select</option>
			<optgroup label="First Group">
				<option value="value">text1</option>
				<option value="value">text2</option>
				<option value="value">text3</option>
				<option value="value" disabled>text4</option>
			</optgroup>
			<option value="value">text5</option>
			<optgroup label="Second Group">
				<option value="value">text6</option>
				<option value="value">text7</option>
				<option value="value">text8</option>
				<option value="value">text9</option>
			</optgroup>
		</select>
	</div>

	<div data-role="content">
		<label for="wheel">Group select</label>
		<select data-native-menu="true" id="wheelMultiSelectGroup" multiple>
			<option value="title" data-placeholder="true">Multi group select menu</option>
			<optgroup label="First Group">
				<option value="value">text1</option>
				<option value="value">text2</option>
				<option value="value">text3</option>
				<option value="value" disabled>text4</option>
			</optgroup>
			<option value="value">text5</option>
			<optgroup label="Second Group">
				<option value="value">text6</option>
				<option value="value">text7</option>
				<option value="value">text8</option>
				<option value="value">text9</option>
			</optgroup>
		</select>
	</div>

	<div data-role="content">

		<div data-role="fieldcontain">
			<label for="sdata1">Turn switch(placeholder: true)</label>
			<select id="sdata1" data-native-menu="false" data-inline="true" data-icon="gear" data-theme="b">
				<option title="title" data-placeholder="true"></option>
				<option value="0">Off</option>
				<option value="1">On</option>
			</select>
		</div>

		<div data-role="fieldcontain">
			<label for="sdata2">Turn switch(placeholder: false)</label>
			<select id="sdata2" data-native-menu="false" data-inline="true" data-icon="gear" data-theme="b">
				<option title="title" data-placeholder="false"></option>
				<option value="0">Off</option>
				<option value="1">On</option>
			</select>
		</div>

	</div>

</div>

<script type="text/javascript">
	$(function () {
		$.mobile.pageLoading(true);

		// 각종 refresh
		$('#btnTest').click(function () {
			// slider
			$('#txtInputSlider').val(33).slider('refresh');


			// toggle switch
			var selector = $('select#toggle1');

			selector[0].selectedIndex = 1; 	// 1로 고침
			selector.slider('refresh');


			// 체크박스 & radio
			var checkBox = $('input[type=checkbox]');
			var radio = $('input[type=radio]');

			checkBox.attr('checked', false).checkboxradio("refresh")
			radio.attr('checked', false).checkboxradio("refresh");
			// checkbox disabled
			$('#chk1').checkboxradio('disable'); 	// 1개만 disable


			var selector = $('select#wheel');

			selector[0].selectedIndex = 0; 	// 1로 고침
			selector.selectmenu('refresh');


			var selectorGroup = $('#sdata2');
			selectorGroup.selectmenu('open');
		});

	});
</script>

