﻿@{
	ViewBag.Title = "jQueryMobile Index";
}

<div data-role="page">

	<div data-role="content">
		<ol data-role="listview">
			<li>@Html.ActionLink("Overview", "Overview")</li>
			<li>@Html.ActionLink("UI 및 화면구성 1", "UIComposition1", null, new { data_ajax="false" })</li>
			<li>@Html.ActionLink("UI 및 화면구성 2", "UIComposition2")</li>
			<li>@Html.ActionLink("FormsAPI", "FormsAPI")</li>
			<li>@Html.ActionLink("ListView1", "ListView1")</li>
			<li>@Html.ActionLink("SplitListView", "SplitListView")</li>
			<li>@Html.ActionLink("MoreListView", "MoreListView")</li>
			<li>@Html.ActionLink("ComplexScroll", "ComplexScroll")</li>
			<li>@Html.ActionLink("Carousel", "Carousel")</li>
			<li>@Html.ActionLink("CarouselWithIScroll", "CarouselWithIScroll", null, new { data_ajax="false" })</li>
			<!-- under_score나 hypen http://stackoverflow.com/questions/4108943/actionlink-htmlattributes -->
			<li>@Html.ActionLink("Carousel + vScroll(NonAjax)", "CarouselWithvScroll", null, 
				new Dictionary<string, object> { 
					{ "data-ajax", "false" },
				})</li>
			<li>
				<a href="@Url.Content("~/Home/CarouselWithvScroll")" data-transition="pop" data-ajax="true">Carousel + vScroll(Ajax)</a></li>
		</ol>
	</div>

</div>

