﻿@{
	ViewBag.Title = "ListView";
}

<div data-role="page">

	<div data-role="header">
		<h1>List view</h1>
		<a href="@Url.Content("~/")" data-icon="home" title="Move home" data-theme="e" class="ui-btn-right">Home</a>
	</div>

	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			<li data-role="list-divider">Apple</li>
			<li>Google</li>
			<li>Windows Phone 7</li>
		</ul>
		<hr />
		<ul data-role="listview" data-inset="true">
			<li>
				<a href="http://apple.com">Apple</a></li>
			<li>
				<a href="http://google.com">Google</a></li>
			<li>
				<a href="http://microsoft.com">Windows Phone 7</a></li>
		</ul>
		<hr />
		<ol data-role="listview" data-inset="true">
			<li>
				<a href="http://apple.com">Apple</a></li>
			<li>
				<a href="http://google.com">
					<span class="ui-li-count">5</span>Google</a></li>
			<li>
				<a href="http://microsoft.com">
					<span class="ui-li-aside">언제 나오냐?</span>Windows Phone 7</a></li>
		</ol>
		<hr />
		<ul data-role="listview" data-inset="true">
			<li>

				<div class="ui-btn-text">
					<a href="http://apple.com" class="ui-link-inherit">Apple</a>
					<p class="ui-li-aside"><strong>현재 시간은</strong></p>
					<h3 class="ui-li-heading">스티브 잡스</h3>
					<p class="ui-li-desc"><strong>잡스가 좋아</strong></p>
					<p class="ui-li-desc">오래 살아야 할텐데...</p>
				</div>

			</li>
			<li>

				<div class="ui-btn-text">
					<a href="http://google.com" class="ui-link-inherit">
						<h3 class="ui-li-heading">Google</h3>
						<p class="ui-li-desc"><strong>Google Inc.</strong></p>
					</a>
				</div>

			</li>
			<li>
				<a href="http://microsoft.com">Windows Phone 7</a></li>
		</ul>
	</div>

</div>

