﻿@model IEnumerable<Example.ViewModels.MoreListViewModel>
@{
	ViewBag.Title = "MoreListView";
}

<script type="text/javascript">
	$(function () {

	});

</script>

<div data-role="page" id="MoreListView">

	<div data-role="header">
		<h1>More listview</h1>
		<a href="@Url.Content("~/")" data-icon="home" title="Move home" data-theme="e" class="ui-btn-right">Home</a>
	</div>

	<div data-role="content" class="ui-content ui-body-c" role="main">
@*
			<form class="ui-listview-filter ui-bar-b" role="search">
				<div class="ui-input-search ui-shadow-inset ui-btn-corner-all ui-btn-shadow ui-icon-searchfield ui-body-b">
					<input placeholder="Search people..." data-type="search" class="ui-input-text ui-body-null"><a
						href="#" class="ui-input-clear ui-btn ui-btn-up-b ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-input-clear-hidden"
						title="clear text" data-theme="b"><span class="ui-btn-inner ui-btn-corner-all"><span
							class="ui-btn-text">clear text</span><span class="ui-icon ui-icon-delete ui-icon-shadow"></span></span></a></div>
			</form>
			<ul data-role="listview" data-filter="true" data-filter-placeholder="Search people..." data-filter-theme="b" class="ui-listview">
*@
		<ul data-role="listview" data-filter="true" data-filter-placeholder="패키지 검색" data-filter-theme="" data-split-icon="gear"
			data-split-theme="e" class="ui-listview" id="listHolder">
			@foreach (Example.ViewModels.MoreListViewModel item in Model)
   {	   
				<li id="pId-@item.ID" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb ui-btn-up-c">

					<div class="ui-btn-inner ui-li ui-li-has-alt">

						<div class="ui-btn-text">
							<a href="/Package/Detail/@item.ID" class="ui-link-inherit">
								<img src="@Url.Content("~/" + @item.TitleIcon)" alt="@item.Title" class="ui-li-thumb" />
								<h3 class="ui-li-heading">@item.Title</h3>
								<p class="ui-li-desc">@item.Description</p>

								<div class="ui-li-aside">
									<p><strong>@item.FormattedPrice</strong><em> points</em></p>
									<p>@item.FormattedDownloadCount downs</p>
								</div>

							</a>
						</div>

					</div>

					<a href="/Package/Purchase/@item.ID" data-rel="dialog" data-transition="slideup" title="패키지 구매" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c">
						<span class="ui-btn-inner">
							<span class="ui-btn-text"></span>
							<span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
								<span class="ui-btn-inner ui-btn-corner-all">
									<span class="ui-btn-text"></span>
									<span class="ui-icon ui-icon-gear ui-icon-shadow"></span>
								</span>
							</span>
						</span>
					</a>
				</li>
   }
		</ul>
	</div>

	<a href="#" data-role="button" id="showMore" data-icon="plus" title="더보기" data-theme="e">5개 더보기</a>

	<div data-role="footer" data-position="fixed" data-fullscreen="true">
	</div>

</div>

<script type="text/javascript">
	var pageNo = 1;
	var moreListCount = @ViewBag.MoreListCount
	var totalPages = @ViewBag.TotalPages;

	$(function () {
		var showMoreButton = $('#showMore');

		if (pageNo == totalPages)
			showMoreButton.hide();
		else
			// 첫번째 버튼 내용은 span이 들어가지 않는다.
			showMoreButton.text(moreListCount + '개 더보기(' + pageNo + '/' + totalPages + ')');

		showMoreButton.click(function () {
			$.post("@Url.Content("~/Home/GetMore")", { "pageNo": pageNo++ },
				function (data) {
					// Click 후 동적으로 삽입될 경우 span 태그가 붙는다.(Firebug로 찾음)
					showMoreButton.find('>span>span.ui-btn-text').text(moreListCount + '개 더보기(' + pageNo + '/' + totalPages + ')');
					
					$('#itemTemplate').tmpl(data).appendTo('#listHolder');
					$('#listHolder').listview('refresh');
					
					if (data.length == 0 || pageNo == totalPages) {
						showMoreButton.hide();

						return;
					}
				});
		});
	});

	function handleUpdate() {
		var json = context.get_data();
		var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);
	}	
</script>

<script type="text/x-jquery-tmpl" id="itemTemplate">
	<li id="pId-${ID}" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb ui-btn-up-c">
		<div class="ui-btn-inner ui-li ui-li-has-alt">
			<div class="ui-btn-text">
				<a href="/Package/Detail/${ID}" class="ui-link-inherit">
					<img src="@Url.Content("~/${TitleIcon}")" alt="${Title}" class="ui-li-thumb" />
					<h3 class="ui-li-heading">${Title}</h3>
					<p class="ui-li-desc">${Description}</p>
					<div class="ui-li-aside">
						<p>
							<strong>${FormattedPrice}</strong><em> points</em></p>
						<p>${FormattedDownloadCount} downs</p>
					</div>
				</a>
			</div>
		</div>
		<a href="/Package/Purchase/${ID}" data-rel="dialog" data-transition="slideup" title="패키지 구매" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c">
			<span class="ui-btn-inner"><span class="ui-btn-text"></span><span title="" data-theme="d"
				class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow"><span class="ui-btn-inner ui-btn-corner-all">
					<span class="ui-btn-text"></span><span class="ui-icon ui-icon-gear ui-icon-shadow">
					</span>
				</span>
			</span>
		</a>
	</li>
</script>

