﻿@{
	ViewBag.Title = "Overview";
}

<div data-role="page" id="home">
	<div data-role="header">
		<h1>jQueryMobile</h1>
	</div>

	<div data-role="content">
		<p>Hello world</p>
	</div>

	<a href="#" data-role="button" data-theme="b">확인</a>
	<a href="#" data-role="button" data-theme="e">취소</a>

	<div data-role="footer">
		<p>jQueryMobile</p>
	</div>
</div>