﻿@{
	ViewBag.Title = "Split listview";
}
<div data-role="content" class="ui-content ui-body-c" role="main">
	<ul data-role="listview" data-split-icon="gear" data-split-theme="d" class="ui-listview">
		<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb ui-btn-up-c">
			<div class="ui-btn-inner ui-li ui-li-has-alt">
				<div class="ui-btn-text">
					<a href="index.html" class="ui-link-inherit">
						<img src="images/album-bb.jpg" class="ui-li-thumb">
						<h3 class="ui-li-heading">Broken Bells</h3>
						<p class="ui-li-desc">Broken Bells</p>
					</a>
				</div>
			</div>
			<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album
			" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner">
				<span class="ui-btn-text"></span><span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
					<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span
						class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></span></span>
			</a></li>
		<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb ui-btn-up-c">
			<div class="ui-btn-inner ui-li ui-li-has-alt">
				<div class="ui-btn-text">
					<a href="index.html" class="ui-link-inherit">
						<img src="images/album-hc.jpg" class="ui-li-thumb">
						<h3 class="ui-li-heading">Warning</h3>
						<p class="ui-li-desc">Hot Chip</p>
					</a>
				</div>
			</div>
			<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album
			" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner">
				<span class="ui-btn-text"></span><span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
					<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span
						class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></span></span>
			</a></li>
		<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb">
			<div class="ui-btn-inner ui-li ui-li-has-alt">
				<div class="ui-btn-text">
					<a href="index.html" class="ui-link-inherit">
						<img src="images/album-p.jpg" class="ui-li-thumb">
						<h3 class="ui-li-heading">Wolfgang Amadeus Phoenix</h3>
						<p class="ui-li-desc">Phoenix</p>
					</a>
				</div>
			</div>
			<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album
			" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner">
				<span class="ui-btn-text"></span><span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
					<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span
						class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></span></span>
			</a></li>
		<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb">
			<div class="ui-btn-inner ui-li ui-li-has-alt">
				<div class="ui-btn-text">
					<a href="index.html" class="ui-link-inherit">
						<img src="images/album-ok.jpg" class="ui-li-thumb">
						<h3 class="ui-li-heading">Of The Blue Colour Of The Sky</h3>
						<p class="ui-li-desc">Ok Go</p>
					</a>
				</div>
			</div>
			<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album
			" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner">
				<span class="ui-btn-text"></span><span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
					<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span
						class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></span></span>
			</a></li>
		<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb">
			<div class="ui-btn-inner ui-li ui-li-has-alt">
				<div class="ui-btn-text">
					<a href="index.html" class="ui-link-inherit">
						<img src="images/album-ws.jpg" class="ui-li-thumb">
						<h3 class="ui-li-heading">Elephant</h3>
						<p class="ui-li-desc">The White Stripes</p>
					</a>
				</div>
			</div>
			<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album
			" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner">
				<span class="ui-btn-text"></span><span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
					<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span
						class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></span></span>
			</a></li>
		<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb">
			<div class="ui-btn-inner ui-li ui-li-has-alt">
				<div class="ui-btn-text">
					<a href="index.html" class="ui-link-inherit">
						<img src="images/album-rh.jpg" class="ui-li-thumb">
						<h3 class="ui-li-heading">Kid A</h3>
						<p class="ui-li-desc">Radiohead</p>
					</a>
				</div>
			</div>
			<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album
			" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner">
				<span class="ui-btn-text"></span><span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
					<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span
						class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></span></span>
			</a></li>
		<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb">
			<div class="ui-btn-inner ui-li ui-li-has-alt">
				<div class="ui-btn-text">
					<a href="index.html" class="ui-link-inherit">
						<img src="images/album-xx.jpg" class="ui-li-thumb">
						<h3 class="ui-li-heading">XX</h3>
						<p class="ui-li-desc">XX</p>
					</a>
				</div>
			</div>
			<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album
			" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner">
				<span class="ui-btn-text"></span><span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
					<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span
						class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></span></span>
			</a></li>
		<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb">
			<div class="ui-btn-inner ui-li ui-li-has-alt">
				<div class="ui-btn-text">
					<a href="index.html" class="ui-link-inherit">
						<img src="images/album-mg.jpg" class="ui-li-thumb">
						<h3 class="ui-li-heading">Congratulations</h3>
						<p class="ui-li-desc">MGMT</p>
					</a>
				</div>
			</div>
			<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album
			" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner">
				<span class="ui-btn-text"></span><span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
					<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span
						class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></span></span>
			</a></li>
		<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb">
			<div class="ui-btn-inner ui-li ui-li-has-alt">
				<div class="ui-btn-text">
					<a href="index.html" class="ui-link-inherit">
						<img src="images/album-ag.jpg" class="ui-li-thumb">
						<h3 class="ui-li-heading">Ashes Grammar</h3>
						<p class="ui-li-desc">A Sunny Day in Glasgow</p>
					</a>
				</div>
			</div>
			<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album
			" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner">
				<span class="ui-btn-text"></span><span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
					<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span
						class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></span></span>
			</a></li>
		<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb">
			<div class="ui-btn-inner ui-li ui-li-has-alt">
				<div class="ui-btn-text">
					<a href="index.html" class="ui-link-inherit">
						<img src="images/album-k.jpg" class="ui-li-thumb">
						<h3 class="ui-li-heading">Hot Fuss</h3>
						<p class="ui-li-desc">Killers</p>
					</a>
				</div>
			</div>
			<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album
			" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner">
				<span class="ui-btn-text"></span><span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
					<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span
						class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></span></span>
			</a></li>
		<li data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li ui-li-has-alt ui-li-has-thumb">
			<div class="ui-btn-inner ui-li ui-li-has-alt">
				<div class="ui-btn-text">
					<a href="index.html" class="ui-link-inherit">
						<img src="images/album-af.jpg" class="ui-li-thumb">
						<h3 class="ui-li-heading">The Suburbs</h3>
						<p class="ui-li-desc">Arcade Fire</p>
					</a>
				</div>
			</div>
			<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album
			" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner">
				<span class="ui-btn-text"></span><span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow">
					<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span
						class="ui-icon ui-icon-gear ui-icon-shadow"></span></span></span></span>
			</a></li>
	</ul>
</div>
<!-- /content -->
