﻿@{
	ViewBag.Title = "UI 및 화면구성 1";
}

<div id="page13" data-role="page">
	<div data-role="header">
		<h1>화면3</h1>
	</div>
	<div data-role="content">
		<h1>세번째 화면</h1>
		<a href="#page11" data-role="button">첫번째 화면</a>
	</div>
</div>
