﻿@{
	ViewBag.Title = "UIComposition2";
}

<div id="UIComponent2Page" data-role="page" data-theme="b">

	<div data-role="header">
		<a href="@Url.Content("~/")" data-role="button" id="ID1" data-icon="home" title="" data-theme="e" class="ui-btn-right">Home</a>
		<h1></h1>
	</div>

	<div data-role="content">

		<div data-role="header">
			Buttons types
		</div>

		<a href="#" data-role="button" id="ID" data-icon="" title="" data-theme="a">링크버튼</a>
		<button>버튼 태그</button>
		<input type="button" data-theme="a" data-icon="info" value="button type" />
		<input type="submit" data-theme="b" data-icon="add" value="submit type" />
		<input type="reset" data-theme="c" data-icon="delete" value="reset type" />
		<input type="image" data-theme="d" data-icon="grid" value="image type" />
		<input type="button" data-theme="e" data-icon="search" value="button type" data-iconpos="right" />
	</div>

	<div data-role="content">

		<div data-role="header">
			Buttons layout(data-inline)
		</div>

		<div data-role="content">

			<div data-role="header" data-theme="b">
				태그에 직접 적용한 data-inline
			</div>

			<a href="#" data-role="button" data-inline="true">취소</a>
			<input type="button" data-inline="true" value="저장" />
			<button data-inline="true">덮어쓰기</button>
		</div>

		<div data-role="content">

			<div data-role="header" data-theme="b">
				div 태그로 그룹 data-inline(안됨)
			</div>

			<div data-inline="true">
				<a href="#" data-role="button">취소</a>
				<a href="#" data-role="button">저장</a>
				<button>덮어쓰기</button>
			</div>

		</div>

	</div>

	<div data-role="content">

		<div data-role="header">
			Buttons layout(Group)
		</div>

		<div data-role="content">

			<div data-role="header" data-theme="b">
				controlgroup
			</div>

			<div data-role="controlgroup">
				<button>삭제</button>
				<button>저장</button>
				<button>Public</button>
				<button>Cancel</button>
			</div>

			<div data-role="header" data-theme="b">
				controlgrou(data-type=horizontal)
			</div>

			<div data-role="controlgroup" data-type="horizontal">
				<button>A</button>
				<button>B</button>
				<button>C</button>
				<button>D</button>
			</div>

			<div data-role="header" data-theme="b">
				controlgrou(data-type=horizontal, notext)
			</div>

			<div data-role="controlgroup" data-type="horizontal">
				<button data-icon="grid" data-iconpos="notext">A</button>
				<button data-icon="info" data-iconpos="notext">B</button>
				<button data-icon="check" data-iconpos="notext">C</button>
				<button data-icon="forward" data-iconpos="notext">D</button>
				<button data-icon="search" data-iconpos="notext">E</button>
				<button data-icon="gear" data-iconpos="notext">f</button>
			</div>

		</div>

	</div>

	<div data-role="content">

		<div data-role="header">
			Dialog Window
		</div>

		<div data-role="content" data-rel="dialog" data-transition="slide">
			Modal dialog window
		</div>

	</div>

	<div data-role="content">

		<div data-role="header">
			Navbars

			<div data-role="navbar">
				<ul>
					<li>
						<a href="#">One</a>
					</li>
					<li>
						<a href="#" class="ui-btn-active">Two</a>
					</li>
					<li>
						<a href="#">Three</a>
					</li>
				</ul>
			</div>

			<div data-role="navbar">
				<ul>
					<li>
						<a href="#">A</a>
					</li>
					<li>
						<a href="#">B</a>
					</li>
					<li>
						<a href="#">C</a>
					</li>
					<li>
						<a href="#">D</a>
					</li>
				</ul>
			</div>

		</div>

		<div data-role="content">
		</div>

		<div data-role="footer">

			<div data-role="navbar">
				<ul>
					<li>
						<a href="#" data-icon="info" class="ui-btn-active">정보</a>
					</li>
					<li>
						<a href="#" data-icon="plus">추가</a>
					</li>
					<li>
						<a href="#" data-icon="search">검색</a>
					</li>
				</ul>
			</div>

		</div>

	</div>

	<div data-role="content">

		<div data-role="header">
			Grid layout(ui-grid-, ui-block-)
		</div>

		<div data-role="content">

			<div class="ui-grid-a">

				<div class="ui-block-a">
					<button>A</button>
				</div>

				<div class="ui-block-b">
					<button>B</button>
				</div>

			</div>

			<fieldset class="ui-grid-a">

				<div class="ui-block-a">
					<button>A</button>
				</div>

				<div class="ui-block-b">
					<button>B</button>
				</div>

			</fieldset>

			<div class="ui-grid-d">

				<div class="ui-block-a">
					<button data-icon="info">A</button>
				</div>

				<div class="ui-block-b">
					<button data-icon="delete">B</button>
				</div>

				<div class="ui-block-c">
					<button data-icon="arrow-l">C</button>
				</div>

				<div class="ui-block-d">
					<button data-icon="arrow-r">D</button>
				</div>

				<div class="ui-block-e">
					<button data-icon="check">E</button>
				</div>

			</div>

			<!-- grid의 데이터 테마 적용하는 방법 ui-bar-테마 -->

			<div class="ui-grid-b ui-bar-b">

				<div class="ui-block-a">
					<button data-icon="info">A</button>
				</div>

				<div class="ui-block-b">
					<button data-icon="delete">B</button>
				</div>

				<div class="ui-block-c">
					<button data-icon="save">C</button>
				</div>

			</div>

			<div class="ui-grid-b ui-bar ui-bar-b">

				<div class="ui-block-a">
					하나
				</div>

				<div class="ui-block-b">
					둘
				</div>

				<div class="ui-block-c">
					셋
				</div>

			</div>

			<div class="ui-grid-b ui-bar-b">

				<div class="ui-block-a">
					하나
				</div>

				<div class="ui-block-b">
					둘
				</div>

				<div class="ui-block-c">
					셋
				</div>

			</div>

		</div>

	</div>

	<div data-role="content" data-theme="e">

		<div data-role="header" data-theme="e">
			Collapsible Header(data-collapsible)
		</div>

		<div data-role="content">

			<div data-role="collapsible" data-collapsed="false">
				<h3>김기원</h3>

				<div data-role="collapsible" data-collapsed="true">
					<h4>중첩된 Collapsible</h4>
					<p>38살 프로그래머</p>
				</div>

			</div>

			<div data-role="collapsible" data-collapsed="false">
				<h3>황태영</h3>
				<p>37살 강사</p>
			</div>

			<div data-role="collapsible" data-collapsed="true">
				<h3>김영재</h3>
				<p>5살 유아</p>
			</div>

			<div data-role="collapsible" data-collapsed="true">
				<h3>김수민</h3>
				<p>3살 유아</p>
			</div>

		</div>

	</div>

	<div data-role="content">

		<div data-role="header">
		</div>

		<div data-role="content">
		</div>

	</div>

	<div data-role="footer" data-position="fixed" data-fullscreen="true">
		<a href="@Url.Content("~/")" data-icon="home" title="Move home" data-theme="" class="ui-btn-right">Home</a>
	</div>

</div>

