﻿@{
	ViewBag.Title = "UI 및 화면구성 1";
}

<div id="page11" data-role="page">
	<div data-role="header">
		<h1>화면1</h1>
	</div>
	<div data-role="content">
		<h1>첫번째 화면</h1>
		<a href="#page12" data-role="button">두번째 화면</a>
	</div>
</div>
