﻿@{
	ViewBag.Title = "UI 및 화면구성 1";
}

<div id="page12" data-role="page">
	<div data-role="header">
		<h1>화면2</h1>
	</div>
	<div data-role="content">
		<h1>두번째 화면</h1>
		<a href="#page13" data-role="button">세번째 화면</a>
	</div>
</div>
