﻿@{
	ViewBag.Title = "UI 및 화면구성 1";
}

<div id="page1" data-role="page">

	<div data-role="header" data-add-back-btn="true" data-position="fixed">
		<a href="#" data-icon="back" title="Move backward" data-theme="" class="ui-btn-left" data-rel="back">Back</a>
		<a href="@Url.Content("~/Home/Index")" data-theme="b" class="ui-btn-right">Home</a>
		<h1>화면1</h1>
	</div>

	<div data-role="content">
		<h1>첫번째 화면</h1>
		<a href="#page2" data-role="button">두번째 화면</a>
	</div>

	<div data-role="footer" data-position="fixed" class="ui-bar" data-id="fixedFooter">
		<a href="#" data-role="button" id="ID1" data-icon="plus" title="" data-theme="">Add</a>
		Footer
		<a href="@Url.Content("~/")" data-icon="home" title="Move home" data-theme="e" class="ui-btn-right">Home</a>
	</div>

</div>

<div id="page2" data-role="page" data-title="화면2 타이틀">

	<div data-role="header" data-backbtn="true">
		<a href="#" data-theme="b" data-rel="back" data-icon="back">Back</a>
		<h1>화면2</h1>
		<a href="#" data-theme="c" data-rel="dialog">Dialog</a>
		<a href="@Url.Content("~/")" data-icon="home" title="Move home" data-theme="e" class="ui-btn-right">Home</a>
	</div>

	<div data-role="content">
		<h1>두번째 화면</h1>
		<a href="#page3" data-role="button">세번째 화면</a>
	</div>

	<div data-role="footer" data-position="fixed" class="ui-bar" data-id="fixedFooter">
		<a href="#" data-role="button" id="ID2" data-icon="minus" title="" data-theme="">Subtract</a>
		Footer
		<a href="@Url.Content("~/")" data-icon="home" title="Move home" data-theme="e" class="ui-btn-right">Home</a>
	</div>

</div>

<div id="page3" data-role="page">

	<div data-role="header" data-add-back-btn="true">
		<a href="#" data-icon="back" title="Move backward" data-theme="e" class="ui-btn-left" data-rel="back">Back</a>
		<h1>화면3</h1>
	</div>

	<div data-role="content">
		<h1>세번째 화면</h1>
		<a href="#page1" data-role="button">첫번째 화면</a>
	</div>

	<div data-role="footer" data-position="fixed" class="ui-bar" data-id="fixedFooter">
		<a href="#" data-role="button" id="ID3" data-icon="delete" title="" data-theme="">Delete</a>
		Footer
	</div>

</div>

