﻿@using Nop.Core.Infrastructure.DependencyManagement
@using Nop.Core.Infrastructure
@using Nop.Core
@{
    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
    var displayMiniProfiler = EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Html.NopTitle()</title>
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    @*store URL js variable used by some JS files*@
    <script type="text/javascript">
        var nop_store_directory_root = "@(storeLocation)";
    </script>
    @*jquery and other base scripts*@
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/public.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/slimbox2.js")" type="text/javascript"></script>
    @*jquery ajax scripts*@
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    @*ajax scripts used by asp.net mvc*@
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
    @*jquery validation*@
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @*custom css*@
    @Html.NopCssFiles()
    @*custom scripts*@
    @Html.NopScripts()
    @*News and blog RSS links*@
    @Html.Action("RssHeaderLink", "News")
    @Html.Action("RssHeaderLink", "Blog")
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @*Favicon - upload upload favicon.ico file to the root direcotry*@
    @Html.Action("Favicon", "Common")
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.HeadHtmlTag })
    @if (displayMiniProfiler)
    {
        @MvcMiniProfiler.MiniProfiler.RenderIncludes();
    }
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2011-->
</head>
<body>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.AfterBodyStartHtmlTag })
    <div class="master-wrapper-page">
        <div class="master-wrapper-content">
            @Html.Partial("Header")
            @Html.Partial("HeaderMenu")
            @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.BeforeContent })
            @RenderBody()
            @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.AfterContent })
            <div class="clear">
            </div>
        </div>
        @Html.Action("Footer", "Common")
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.BeforeBodyEndHtmlTag })
</body>
</html>
